<div class="column row relative" style="margin-bottom: 3vh">
  <div class="flex items-center justify-end">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="rgb(76, 13, 125)"
      class="w-4 h-4 srdr"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
      />
    </svg>
    <% if !cookies[:sr360_beta] %>
    <a
      class="text-base"
      href="/sd_meta_data/<%= @sd_meta_datum.id %>/edit?sr360_beta_opt_in=true"
      >To try the New SR-360 in alpha click here</a
    >
    <% end %>
  </div>
  <h6 style="font-weight: bold; margin: 20px 0 0 0">SRDR+ Project</h6>
  <%= link_to(@project.try(:name) || 'None', project_path(@project), target:
  '_blank') %>

  <h6 style="font-weight: bold; margin: 20px 0 0">
    Source Systematic Review Report
  </h6>
  <% if @systematic_review_report %><a
    data-toggle="offCanvasRightReportHtml"
    id="report-title"
    ><%= @sd_meta_datum.try(:report_title) || @report.try(:title) ||
    @sd_meta_datum.report_file.filename || 'None' %>
  </a>
  <% end %>
</div>
<div class="column row" id="complete-form">
  <%= render 'sd_meta_data/form/form' %>
</div>
<div id="systematic_review_report_pdf_container"></div>
<script>
  var initPage = function () {
    offCanvasRightReportHtml_iframe =
      document.getElementById("htmlReportIframe");
    offCanvasRightReportHtml_iframe.src = "<%= @report_html_path %>";
  };

  initPage(); //this triggers the loading at the time the script is full

  document.addEventListener("DOMContentLoaded", initPage); //this set the trigger for page changes
</script>

<%= render 'save_button' %>
