<% provide(:title, 'About Us') %>

<div class="about">
  <div class="hero">
    <div class="grid-x align-center">
      <div class="cell small-6">
        <h1 class="About-the-Systematic">About the Systematic Review Data Repository Plus (SRDR+)</h1>
      </div>
    </div>
    <div class="grid-x align-center">
      <div class="cell small-6 In-an-effort-to-redu">
        <br>
        <br>
        <p>In an effort to reduce the burden of conducting systematic reviews,
          researchers and developers at the Brown University Evidence-based
          Practice Center (EPC) (previously at Tufts Medical Center), with
          support from the <a href='https://www.ahrq.gov' target='_blank' data-confirm="<%= @exit_disclaimer %>">Agency for Healthcare Research and Quality (AHRQ) <span class='i fas fa-external-link-alt fa-sm'></span></a> developed a collaborative, Web-based repository of systematic review data. This resource serves as both an archive and data extraction tool and is shared among organizations and individuals producing systematic reviews worldwide, enabling the creation of a central database of systematic review data which may be critiqued, updated, and augmented on an ongoing basis. This database is freely accessible to facilitate evidence reviews and thus improve and speed up policy-making with regards to healthcare.</p>
        <p>SRDR+ is an updated version of SRDR with a range of new features and improvements to the system. For a period of time, both SRDR and SRDR+ will run in parallel. We will send out notifications so that you are prepared for the eventual migration of all projects from SRDR to SRDR+.</p>
      </div>
      <div class="cell small-6 Rectangle" style='padding-top: 4em; margin-top: 2em;'>
        <h2 class="Why-have-an-open-sys">Why have an open systematic review data repository?</h2>
        <div class="Such-a-repository-he">
          <p>Such a repository helps the world in various ways, such as through:</p>
          <ul>
            <li>Improved access to data by consumers of systematic review evidence;</li>
            <li>Promotion of transparency and reliability in the systematic review process via communal review;</li>
            <li>Enhanced cooperation and utilization across related resources (such as <a href='https://clinicaltrials.gov' target='_blank' data-confirm="<%= @exit_disclaimer %>">ClinicalTrials.gov <span class='i fas fa-external-link-alt fa-sm'></span></a>);</li>
            <li>More efficient means of producing and updating systematic reviews; and</li>
            <li>Facilitation of other novel avenues of inquiry, such as those investigating research methodology (e.g., comparing different types of outcomes across disciplines, or comparing methodological quality of studies based on funding sources) by concentrating relevant data into one readily available resource.</li>
          </ul>
        </div>
      </div>
      <div class="cell small-6" style='margin-top: 4em;'>
        <h2 class="SRDR-Annual-Reports">SRDR Annual Reports</h2>
      </div>
      <div class="cell small-8">
        <p>The Systematic Review Data Repository has experienced significant growth since it was released to the public in June 2012. The following reports, released on an annual basis, proceed to record the growth of SRDR. We invite you to download these reports in a PDF format using the links below.</p>
        <table class="unstriped annual-reports">
          <tr>
            <td><strong>2013:</strong></td>
            <td>SRDR Annual Report: February 2013 - November 2013</td>
            <td><%= link_to 'https://s3.amazonaws.com/srdr/SRDR+Annual+Report/SRDR+Annual+Report+-+2013.pdf', target: '_blank' do %><i class="fi-page-pdf"> PDF (1.0MB)</i><% end %></td>
          </tr>
          <tr>
            <td><strong>2014:</strong></td>
            <td>SRDR Annual Report: December 2013 - November 2014</td>
            <td><%= link_to 'https://s3.amazonaws.com/srdr/SRDR+Annual+Report/SRDR+Annual+Report+-+2014.pdf', target: '_blank' do %><i class="fi-page-pdf"> PDF (1.0MB)</i><% end %></td>
          </tr>
          <tr>
            <td><strong>2015:</strong></td>
            <td>SRDR Annual Report: December 2014 - November 2015</td>
            <td><%= link_to 'https://s3.amazonaws.com/srdr/SRDR+Annual+Report/SRDR+Annual+Report+-+2015.pdf', target: '_blank' do %><i class="fi-page-pdf"> PDF (1.0MB)</i><% end %></td>
          </tr>
          <tr>
            <td><strong>2016:</strong></td>
            <td>SRDR Annual Report: December 2015 - November 2016</td>
            <td><%= link_to 'https://s3.amazonaws.com/srdr/SRDR+Annual+Report/SRDR+Annual+Report+-+2016.pdf', target: '_blank' do %><i class="fi-page-pdf"> PDF (1.0MB)</i><% end %></td>
          </tr>
          <tr>
            <td><strong>2017:</strong></td>
            <td>SRDR Annual Report: December 2016 - November 2017</td>
            <td><%= link_to 'https://s3.amazonaws.com/srdr/SRDR+Annual+Report/SRDR+Annual+Report+-+2017.pdf', target: '_blank' do %><i class="fi-page-pdf"> PDF (1.0MB)</i><% end %></td>
          </tr>
          <tr>
            <td><strong>2019:</strong></td>
            <td>SRDR Annual Report: December 2017 - May 2019</td>
            <td><%= link_to 'https://srdr.s3.amazonaws.com/SRDR+Annual+Report/SRDR+Annual+Report+-+2018-19.pdf', target: '_blank' do %><i class="fi-page-pdf"> PDF (1.6MB)</i><% end %></td>
          </tr>
          <tr>
            <td><strong>2020:</strong></td>
            <td>SRDR Annual Report: June 2019 - May 2020</td>
            <td><%= link_to 'https://srdr.s3.amazonaws.com/SRDR+2019-20_Annual+Report.pdf', target: '_blank' do %><i class="fi-page-pdf"> PDF (2.2MB)</i><% end %></td>
          </tr>
          <tr>
            <td><strong>2021:</strong></td>
            <td>SRDR Annual Report: January 2020 - December 2020</td>
            <td><%= link_to 'https://srdr.s3.amazonaws.com/SRDR+Annual+Report/SRDR+2021_Annual+Report.pdf', target: '_blank' do %><i class="fi-page-pdf"> PDF (2.3MB)</i><% end %></td>
          </tr>
          <tr>
            <td><strong>2022:</strong></td>
            <td>SRDR Annual Report: January 2021 - December 2021</td>
            <td><%= link_to 'https://srdr.s3.amazonaws.com/SRDR+Annual+Report/SRDR+2022_Annual+Report_V2.pdf', target: '_blank' do %><i class="fi-page-pdf"> PDF (2.4MB)</i><% end %></td>
          </tr>
          <tr>
            <td><strong>2023:</strong></td>
            <td>SRDR Annual Report: January 2022 - November 2022</td>
            <td><%= link_to 'https://srdr.s3.amazonaws.com/SRDR+Annual+Report/SRDR+2023_Annual+Report_V4.pdf', target: '_blank' do %><i class="fi-page-pdf"> PDF (1.1MB)</i><% end %></td>
          </tr>
          <tr>
            <td><strong>2024:</strong></td>
            <td>SRDR Annual Report: December 2022 - December 2023</td>
            <td><%= link_to 'https://srdr.s3.amazonaws.com/SRDR+Annual+Report/SRDR+2024_Annual+Report_V1.pdf', target: '_blank' do %><i class="fi-page-pdf"> PDF (1.9MB)</i><% end %></td>
          </tr>
        </table>
      </div>
      <div class="cell small-9" style='margin-top: 4em;'>
        <h2 class="SRDR-Project-Team">SRDR Project Team</h2>
        <div class="White-box" style='padding-top: 3em;'>
          <div class="grid-x">
            <div class="cell medium-6">
              <div><%= image_tag 'photo-team-ian@2x.png', alt: 'Image of Ian Saldanha' %></div>
              <div><%= link_to 'https://vivo.brown.edu/display/isaldanh', class: 'project-team-links', target: '_blank', data: { confirm: @exit_disclaimer } do %>Ian Saldanha, MBBS, MPH, PhD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <span>Director:</span>
              <div class="subheader">Johns Hopkins University</div>
            </div>
            <div class="cell medium-6">
              <div><%= image_tag 'photo-team-ethan@2x.png', alt: 'Image of Ethan Balk' %></div>
              <div><%= link_to 'https://vivo.brown.edu/display/ebalk', class: 'project-team-links', target: '_blank', data: { confirm: @exit_disclaimer } do %>Ethan Balk, MD, MPH <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <span>Co-Director, Principal Investigator:</span>
              <div class="subheader">Brown University</div>
            </div>
          </div>
          <br>
          <div class="grid-x">
            <div class="cell medium-4">
              <div><%= image_tag 'photo-team-bryant@2x.png', alt: 'Image of Bryant Smith' %></div>
              <div><%= link_to 'https://www.linkedin.com/in/bryant-smith-mph-cph-b65a3b21/', class: 'project-team-links', target: '_blank', data: { confirm: @exit_disclaimer } do %>Bryant Smith, MPH, CPH <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <span>Administrator:</span>
              <div class="subheader">Brown University</div>
            </div>
            <div class="cell medium-4">
              <div><%= image_tag 'photo-team-gaelen@2x.png', alt: 'Image of Gaelen Adam' %></div>
              <div><%= link_to 'https://www.brown.edu/academics/public-health/hspp/people/gaelen-adam', class: 'project-team-links', target: '_blank', data: { confirm: @exit_disclaimer } do %>Gaelen Adam, MPH, PhD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <span>Program Manager:</span>
              <div class="subheader">Brown University</div>
            </div>
            <div class="cell medium-4">
              <div><%= image_tag 'photo-team-jens@2x.png', alt: 'Image of Jens Jap' %></div>
              <div><%= link_to 'https://www.linkedin.com/in/jens-jap-2a7b555a/', class: 'project-team-links', target: '_blank', data: { confirm: @exit_disclaimer } do %>Jens Jap, BS <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <span>Lead Programmer:</span>
              <div class="subheader">MYCENAEAN Limited</div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell small-8" style='margin-top: 8em;'>
        <div class="grid-x">
          <div class="cell medium-4 subsection-headers">
            <div>CONSULTANTS</div>
            <br>
            <div class="grid-x">
              <div class="cell">
                <div><%= link_to 'https://computablepublishing.com/about/', class: 'project-team-links', target:'_blank', data: { confirm: @exit_disclaimer } do %>Brian Alper, MD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
                <div class="subheader">Computable Publishing</div>
              </div>
              <div class="cell">
                <div><%= link_to 'https://www.ccis.northeastern.edu/people/byron-wallace/', class: 'project-team-links', target:'_blank', data: { confirm: @exit_disclaimer } do %>Byron Wallace, PhD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
                <div class="subheader">Northeastern University</div>
              </div>
            </div>
          </div>
          <div class="cell medium-6 subsection-headers small-offset-2">
            <div>PAST CONTRIBUTORS</div>
            <br>
            <div class="grid-x">
              <div class="cell small-6"><strong>Amy Earley</strong></div>
              <div class="cell small-6"><strong>Nira Hadar</strong></div>
            </div>
            <br>
            <div class="grid-x">
              <div class="cell small-6"><strong>Ramon Iovin</strong></div>
              <div class="cell small-6"><strong>Stanley Ip</strong></div>
            </div>
            <br>
            <div class="grid-x">
              <div class="cell small-6"><strong>Sarah Keefe</strong></div>
              <div class="cell small-6"><strong>Manlik Kwong</strong></div>
            </div>
            <br>
            <div class="grid-x">
              <div class="cell small-6"><strong>Joseph Lau</strong></div>
              <div class="cell small-6"><strong>Iain Marshall</strong></div>
            </div>
            <br>
            <div class="grid-x">
              <div class="cell small-6"><strong>Christopher Parkin</strong></div>
              <div class="cell small-6"><strong>Birol Senturk</strong></div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell small-8" style='margin-top: 8em;'>
        <h2 class="SRDR-Governance-Boar">SRDR Governance Board</h2>
        <br><br><br><br>
        <div>CURRENT MEMBERS</div>
        <br><br>
        <table class="governance-board unstriped" style='width: 100%;'>
          <tr>
            <td style='width: 50%;'>
              <div><%= link_to 'https://apps.shp.rutgers.edu/projects/facultyLocator/profile1.cfm?RUID=parrotja', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>James Scott Parrott, PhD (Chair) <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Professor, Rutgers University School of Health Professions, Newark, NJ, USA</div>
            </td>
            <td style='width: 50%;'>
              <div><%= link_to 'http://magicproject.org/', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Linn Brandt, MD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Member, MAGIC Board, University of Oslo, Oslo, Norway</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><%= link_to 'https://www.acpjournals.org/journal/aim/about-the-editors', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Stephanie Chang, MD, MPH <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Annals of Internal Medicine, Maryland, USA</div>
            </td>
            <td>
              <div><%= link_to 'https://www.linkedin.com/in/maria-michaels-mba-pmp-b793689', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Maria Michaels, MBA, PMP <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Public Health Advisor, Centers for Disease Control and Prevention (CDC), Atlanta, GA, USA</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><%= link_to 'https://medicine.utah.edu/faculty/mddetail/u0107655', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Jonathan Nebeker, MD, MS <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">US Veterans Affairs, Salt Lake City, UT, USA</div>
            </td>
            <td>
              <div><%= link_to 'https://www.linkedin.com/in/julie-obbagy-06100ab', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Julie Obbagy, PhD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">USDA Center for Nutrition Policy and Promotion</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><%= link_to 'https://iris.ucl.ac.uk/iris/browse/profile?upi=JTHOA32&openTabNum=2', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>James Thomas, PhD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Associate Director, Evidence for Policy and Practice Information and Co-ordinating Centre (EPPI-Centre), University College London, London, UK</div>
            </td>
            <td>
              <div><%= link_to 'https://www.linkedin.com/in/jonathan-treadwell-b6b65a3', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Jonathan Treadwell, PhD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">ECRI/Penn Evidence-based Practice Center, Philadelphia, PA, USA</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><%= link_to 'https://www.linkedin.com/in/rebecca-williams-75a845227/', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Rebecca Williams, PharmD, MPH <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Essex Management, Maryland, USA</div>
            </td>
            <td></td>
          </tr>
        </table>
        <br><br>
        <div>FORMER MEMBERS (WITH CURRENT AFFILIATIONS):</div>
        <br><br>
        <table class="governance-board unstriped" style='width: 100%;'>
          <tr>
            <td style='width: 50%;'>
              <div><%= link_to 'https://www.jhsph.edu/faculty/directory/profile/1695/kay-dickersin', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Kay Dickersin, MA, PhD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Professor Emeritus and Former Director, Cochrane Eyes and Vision, Johns Hopkins University, Baltimore, MD, USA</div>
            </td>
            <td>
              <div><%= link_to 'http://annals.org/aim/pages/biography', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Christine Laine, MD, MPH <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Editor-in-Chief, Annals of Internal Medicine, American College of Physicians, Philadelphia, PA, USA</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><%= link_to 'https://www.linkedin.com/in/mcdonough-robert-2317a29/', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Robert McDonough, MD, JD, MPP <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Senior Director, Clinical Policy Research & Development, Aetna, Hartford, CT, USA</div>
            </td>
            <td style='width: 50%;'>
              <div><%= link_to 'http://www.ohri.ca/profile/dmoher', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>David Moher, PhD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Editor-in-Chief, Systematic Reviews, Associate Professor, University of Ottawa, Ottawa, ON, Canada</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><%= link_to 'https://www.hopkinsmedicine.org/profiles/results/directory/profile/4592359/karen-robinson', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Karen Robinson, MSc, PhD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Associate Professor and Director, Johns Hopkins Evidence-based Practice Center, Johns Hopkins University, Baltimore, MD, USA</div>
            </td>
            <td>
              <div><%= link_to 'https://vivli.org/team/ida-sim/', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Ida Sim, MD, PhD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Technical Lead, Vivli, Professor, University of California San Francisco, San Francisco, CA, USA</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><%= link_to 'https://www.linkedin.com/in/joanne-spahn-26005414/', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Joanne M. Spahn, MS, RD, FADA <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Lead Nutritionist, US Department of Agriculture Center for Nutrition Policy and Promotion, Alexandria, VA, USA</div>
            </td>
            <td>
              <div><%= link_to 'https://www.york.ac.uk/crd/staff/lesley-stewart/', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Lesley A. Stewart <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Professor and Director, Centre for Reviews and Dissemination, University of York, York, UK</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><%= link_to 'https://community.cochrane.org/editorial-and-publishing-policy-resource/overview-cochrane-library-and-related-content/editorial-team', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>David Tovey, MBBS <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Editor-in-Chief, Cochrane Library, London, UK</div>
            </td>
            <td>
              <div><%= link_to 'https://hdsi.uchicago.edu/center-staff/', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Craig A. Umscheid, MD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Director, Center for Healthcare Delivery and Service and Innovation, University of Chicago, Chicago, IL, USA</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><%= link_to 'http://iristl.org/faculty/howard-white/', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Howard White, PhD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Chief Executive Officer, Campbell Collaboration, Washington University in St. Louis, St. Louis, MO, USA</div>
            </td>
            <td>
              <div><%= link_to 'https://www.pcori.org/people/evelyn-p-whitlock-md-mph', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Evelyn P. Whitlock, MD, MPH <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Senior Scientific Officer, Patient-Centered Outcomes Research Institute, Washington, DC, USA</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><%= link_to 'https://www.linkedin.com/in/craig-whittington-71472697/', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Craig Whittington, PhD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Global Head of Quality, Methodology & Innovation, Doctor Evidence, LLC., Santa Monica, CA, USA</div>
            </td>
            <td>
              <div><%= link_to 'https://en.wikipedia.org/wiki/Deborah_Zarin', target: '_blank', class: 'governance-board-links', data: { confirm: @exit_disclaimer } do %>Deborah A. Zarin, MD <i class="fas fa-external-link-alt fa-sm"></i><% end %></div>
              <div class="subheader">Former Director, ClinicalTrials.gov, National Library of Medicine, Bethesda, MD, USA</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="cell small-12" style='margin-top: 8em; margin-bottom: 4em;'>
        <div style='font-style: italic; text-align: center;'>For more information, please contact us at <a href='mailto:SRDR@ahrq.hhs.gov?Subject=srdrPLUS'>SRDR@ahrq.hhs.gov</a>.</div>
      </div>
    </div>
  </div>
</div>
