<% provide(:title, 'Help & Training') %>

<div class="bg-white">
  <div class="p-4 lg:p-8">
    <div>
      <h1 class="text-xl font-bold">Help</h1>
    </div>
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <h2 class="text-base font-medium tracking-tight text-gray-900">
          Tutorials - PDF Guides
        </h2>
      </div>
      <div class="mt-12 lg:col-span-2 lg:mt-0">
        <dl class="space-y-12">
          <div>
            <dt class="text-base font-medium leading-6 text-gray-900">
              Systematic Review Data Repository User Plus (SRDR+) User Guide
              Updated as of October 13, 2021
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              <%= link_to('Download PDF',
              'https://srdrplus.s3.amazonaws.com/SRDR%2B+User+Guide+-+10-13-21_Final.pdf',
              target: '_blank') %>
            </dd>
          </div>

          <div>
            <dt class="text-base font-medium leading-6 text-gray-900">
              Tutorial: Data Extraction using SRDR+
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              <%= link_to('Download PDF',
              'https://srdrplus.s3.amazonaws.com/SRDR%2B+Data+Extraction+Tutorial+-+10-13-21.pdf',
              target: '_blank') %>
            </dd>
          </div>

          <div>
            <dt class="text-base font-medium leading-6 text-gray-900">
              Importing Structured Data from DistillerSR® into SRDR+
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              <%= link_to('Download PDF',
              'https://srdrplus.s3.amazonaws.com/Importing+Structured+Data+from+DistillerSR+into+SRDR%2B.pdf',
              target: '_blank') %>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <h2 class="text-base font-medium tracking-tight text-gray-900">
          Tutorials - Video Guides
        </h2>
      </div>
      <div class="mt-12 lg:col-span-2 lg:mt-0">
        <dl class="space-y-12">
          <div>
            <dt class="text-base font-medium leading-6 text-gray-900">
              Introduction to SRDR+ for Data Extraction of Systematic Reviews
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube-nocookie.com/embed/aDxStZR3CGA"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <%= link_to('https://youtu.be/aDxStZR3CGA',
              'https://youtu.be/aDxStZR3CGA', target: '_blank', data: { confirm:
              @exit_disclaimer }) %>
            </dd>
          </div>

          <div>
            <dt class="text-base font-medium leading-6 text-gray-900">
              Setting up a new project and a project team in SRDR+
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube-nocookie.com/embed/obdwdkfCVac"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <%= link_to('https://youtu.be/obdwdkfCVac',
              'https://youtu.be/obdwdkfCVac', target: '_blank', data: { confirm:
              @exit_disclaimer }) %>
            </dd>
          </div>

          <div>
            <dt class="text-base font-medium leading-6 text-gray-900">
              Adding and managing Citations in SRDR+
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube-nocookie.com/embed/QPfXnDwyHX0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <%= link_to('https://youtu.be/QPfXnDwyHX0',
              'https://youtu.be/QPfXnDwyHX0', target: '_blank', data: { confirm:
              @exit_disclaimer }) %>
            </dd>
          </div>

          <div>
            <dt class="text-base font-medium leading-6 text-gray-900">
              Adding and Managing Extractions in SRDR+
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube-nocookie.com/embed/7jmM7elUSmU"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <%= link_to('https://youtu.be/7jmM7elUSmU',
              'https://youtu.be/7jmM7elUSmU', target: '_blank', data: { confirm:
              @exit_disclaimer }) %>
            </dd>
          </div>

          <div>
            <dt class="text-base font-medium leading-6 text-gray-900">
              Exporting data out of SRDR+
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube-nocookie.com/embed/vWXVhU3-XUY"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <%= link_to('https://youtu.be/vWXVhU3-XUY',
              'https://youtu.be/vWXVhU3-XUY', target: '_blank', data: { confirm:
              @exit_disclaimer }) %>
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <h2 class="text-base font-medium tracking-tight text-gray-900">
          More Resources
        </h2>
      </div>
      <div class="mt-12 lg:col-span-2 lg:mt-0">
        <dl class="space-y-12">
          <div>
            <dt class="text-base font-medium leading-6 text-gray-900">
              Additional Links
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              <!-- prettier-ignore -->
              <ul>
                <li>
                  <%= link_to("How to Cite SRDR+", citing_path) %>
                </li>
                <li>
                  <%= link_to("SRDR Usage Policies", usage_path) %>
                </li>
              </ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
