<% provide(:title, 'Help & Training') %>

<h2>Getting Help</h2>
<div>
  <p>
    In order to familiarize yourself with SRDRPLUS, we recommend that you download the following training tutorial which can be completed at your convenience, offline.
    <br>
    <br>
    <a href='https://s3.amazonaws.com/srdrplus/SRDR+PLUS+Training+-+12-16-2018.pdf' target='_blank'>
      2018 SRDR PLUS Training Manual
    </a>
    (Right-click, or control-click on a Mac, the link and choose “Save Link As” to save the document to your computer)<br>
    File size: 9.1 MB<br>
    MD5 checksum: 66ed426085beeff2c7173fe0792bbf1e<br>
  </p>
</div>

<div>
  <p>Or you may contact us. Our information can be found <a href='./contact'>here</a>.</p>
</div>

<% if false %>

<div id='content' tabindex=200>
  <script type="text/javascript" src="/movies/com/js/swfobject/swfobject.js"></script>

  <h1>Help &amp; Training</h1><br/>

  <div id="help-tabs">
    <ul>
      <li><a href="/home/training_materials">Training Materials</a></li>
      <li><a href="/home/user_manual">User Manual</a></li>
      <li><a href="#help-1">Video Tutorials</a></li>
      <li><a href="#help-2">Commonly Used Icons</a></li>
      <li><a href="/home/faq">Frequently Asked Questions</a></li>

      <li><a href="/home/quarterly_training">Quarterly Training</a></li>
      <li><a href="/home/external_resources">External Resources</a></li>
      <li><a href="#help-4">Contact Us</a></li>
    </ul>
    <div id="help-1">
      <div style='padding-top:10px; float:left;'>
        <h2>Video Tutorials</h2><br/><br/><br/>
        <strong>Note: You will be redirected to YouTube for viewing these training tutorials</strong><br/><br/>

        <ul class='normal_list'>

          <li><a href='https://youtu.be/U3Ti12zwdDc' class='needs_exit_disclaimer' target='_blank'>1. SRDR Overview and Project Initiation <img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (2 min, 14 sec)</li>

          <li><a href='https://youtu.be/D5l3np2smHo' class='needs_exit_disclaimer' target='_blank'>2. Creating Extraction Form Template in the SRDR <img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (5 min, 54 sec)</li>

          <li><a href='https://youtu.be/gYXMrpLKzL0' class='needs_exit_disclaimer' target='_blank'>3. Add, View & Edit Study Data in the SRDR Site <img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (5 min, 6 sec)</li>

          <li><a href='https://youtu.be/CvRPv4XG6Rc' class='needs_exit_disclaimer' target='_blank'>4. Building Questions for Data Extraction in the SRDR <img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (6 min, 22 sec)</li>

          <li><a href='https://youtu.be/CsgpHkMCRT8' class='needs_exit_disclaimer' target='_blank'>5. Exporting your project's entire dataset using the SRDR Project Export Tool <img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (6 min, 42 sec)</li>

          <li><a href='https://youtu.be/eTgcsbF6v0g' class='needs_exit_disclaimer' target='_blank'>6. Assigning and reassigning studies to your project team in SRDR (All 3 Parts)<img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (7 min, 19 sec)
            <ul class='normal_list'>
              <li><a href='https://youtu.be/f2KiHVRB7W8' class='needs_exit_disclaimer' target='_blank'>a. Part 1: Preparing a study citation and user assignment import form<img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (2 min, 4 sec)</li>
              <li><a href='https://youtu.be/VSVzy4wkhbg' class='needs_exit_disclaimer' target='_blank'>b. Part 2: Uploading the study citation and user assignment import form to a project<img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (2 min, 43 sec)</li>
              <li><a href='https://youtu.be/0wxEWaUmuEA' class='needs_exit_disclaimer' target='_blank'>c. Part 3: Reassigning studies in a project to a different project team member<img alt='WARNING: this link will direct you away form our site.' src="/images/exit_disclaimer.gif"/></a> (1 min, 21 sec)</li>
            </ul>
          </li>




        </ul>

      </div>
    </div>
    <div id="help-2">
      <div style='padding-top:10px; float:left;'>
        <h2>Commonly Used Icons</h2><br/><br/>

        In the Systematic Review Data Repository you will see the following icons:<br/><br/>


        <%= image_tag "Accept.png", :style=>"border-style:none;vertical-align:top;", :alt => "Accept"  %> Save Form or Table Data<br/>
        <%= image_tag "Add.png", :style=>"border-style:none;vertical-align:top;", :alt => "Add"  %> Add Item, Record or Table Row<br/>
        <%= image_tag "Cancel.png", :style=>"border-style:none;vertical-align:top;", :alt => "Cancel"  %> Cancel<br/>
        <%= image_tag "Silk_cross.png", :style=>"border-style:none;vertical-align:top;", :alt => "Delete or Close"  %> Delete Item or Close Window<br/>
        <%= image_tag "Group.png", :style=>"border-style:none;vertical-align:top;", :alt => "Manage Users"  %> Manage Users for a Systematic Review (Project Leads only)<br/>
        <%= image_tag "Information-silk.png", :style=>"border-style:none;vertical-align:top;", :alt => "Informational message"  %> Informational Message<br/>
        <%= image_tag "Exclamation.png", :style=>"border-style:none;vertical-align:top;", :alt => "Warning or Error Message"  %> Warning or Error Message<br/>
        <%= image_tag "Zoom.png", :style=>"border-style:none;vertical-align:top;", :alt => "Search"  %> Search<br/>
        <%= image_tag "Note_go.png", :style=>"border-style:none;vertical-align:top;", :alt => "Continue"  %> Continue<br/>
        <%= image_tag "Printer.png", :style=>"border-style:none;vertical-align:top;", :alt => "Print"  %> Print<br/>
      </div>
    </div>
    <div id="help-4"><br/><br/>
      <div style='padding-top:10px; float:left;'>
        <h2>For questions and concerns please contact:</h2><br/><br/>
        <p/>&nbsp;
        <p/>

        <strong>The SRDR Team</strong><br/>
        Brown University Evidence-based Practice Center<br/>
        Center for Evidence-based Medicine (CEBM)<br/>
        School of Public Health<br/>
        Brown University<br/> 
        121 South Main Street, 8th Floor<br/>
        Providence, RI 02912<br/>
        <p/>&nbsp;
        <p/>
        <span style='text-decoration:underline;'>Telephone:</span> 401.863.5791<br/>
        <span style='text-decoration:underline;'>Fax:</span> 401.863.6456<br/>
        <span style='text-decoration:underline;'>Email:</span> SRDR@ahrq.hhs.gov<br/><br/>
        <span style='text-decoration:underline;'><strong>Normal Hours of Operation</strong> (contact us via phone or email)</span><br/>9:00 AM - 5:00 PM(EST), Monday to Friday<br/><br/>
        <span style='text-decoration:underline;color:green;font-weight:bold;'>Holiday Schedule: (December 24th - January 5th)</span>
        <br/>For assistance over the holidays please contact Jens Jap directly at <a href='mailto:jens_jap@brown.edu'>jens_jap@brown.edu</a>.
        <br/><br/>
        <span style='text-decoration:underline;'>Note:</span> <br/>See Brown University holiday schedule (<a href='https://brown.edu/about/administration/human-resources/policies/holidays' target='_blank'>https://brown.edu/about/administration/human-resources/policies/holidays</a>)
      </div>
    </div>

    <script>
      $(function(e) {
        selected = 0;
        <% if defined?(@selected) %>
            selected = <%= @selected.to_i %>;
      <% end %>
          $( "#help-tabs" ).tabs({
            selected: selected,
            ajaxOptions: {
              type: "POST",
              success: function(data){
              },
              error: function( xhr, status, index, anchor ) {
                $( anchor.hash ).html("Tab is loading. Please wait...");
                //"Couldn't load this tab. We'll try to fix this as soon as possible." );
              },
            }
          });
      });
    </script>

  </div>

<% end %>
