<div class="relative overflow-hidden">
  <div class="relative pt-6 pb-16 sm:pb-24 hero-background bg-srdr-primary">
    <div class="mt-16 sm:mt-24">
      <div class="mx-auto max-w-7xl">
        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
          <div
            class="px-4 sm:px-6 sm:text-center md:mx-auto md:max-w-2xl lg:col-span-6 lg:flex lg:items-center lg:text-left"
          >
            <div>
              <h1
                class="mt-4 text-4xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl font-serif"
              >
                SRDR+: Moving systematic reviews forward.
              </h1>
              <p
                class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl"
              >
                SRDR+ is a free, powerful, easy to use tool for data extraction,
                management, and archival during systematic reviews.
              </p>
            </div>
          </div>
          <div
            class="mt-16 sm:mt-24 lg:col-span-6 lg:mt-0 flex flex-col justify-center"
          >
            <div
              class="bg-white sm:mx-auto sm:w-full sm:max-w-md sm:overflow-hidden sm:rounded-lg"
            >
              <div class="px-4 py-8 sm:px-10">
                <div class="flex flex-col justify-center">
                  <h1 class="text-2xl font-bold">
                    Search our Repository Today!
                  </h1>
                  <!-- prettier-ignore -->
                  <%= simple_form_for(:general_search, defaults: { required: false }, url: searches_path, method: :get) do |f| %>
                  <div class="my-6">
                    <!-- prettier-ignore -->
                    <%= f.input :name, label: false, placeholder: 'Enter your search term', input_html: { autofocus: true, value: params.dig(:general_search, :name) } %>
                  </div>
                  <div><%= f.button :submit, 'Search' %></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative -mt-6 pb-16 sm:pb-24 z-10">
    <div class="mx-auto max-w-7xl">
      <div class="rounded-md bg-white shadow-md py-8">
        <h1
          class="text-center text-3xl font-bold tracking-tight sm:text-4xl md:text-5xl font-serif"
        >
          See how you can work with SRDR+
        </h1>
        <div class="px-8 lg:px-36">
          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div
                  class="absolute flex h-12 w-12 items-center justify-center text-srdr-primary"
                >
                  <%= image_tag 'icon-researchers.svg', class: 'float-center',
                  alt: 'researchers' %>
                </div>
                <p class="mb-0 ml-16 text-lg font-bold leading-6 text-gray-900">
                  Researchers
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Use SRDR+ as a free platform for extracting, archiving, and
                sharing data during systematic reviews and accessing shared data
                related to systematic reviews.
              </dd>
            </div>
          </dl>
          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div
                  class="absolute flex h-12 w-12 items-center justify-center text-srdr-primary"
                >
                  <%= image_tag 'icon-guideline-developers.svg', class:
                  'float-center', alt: 'guideline-developers' %>
                </div>
                <p class="mb-0 ml-16 text-lg font-bold leading-6 text-gray-900">
                  Guideline Developers
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Use SRDR+ for accessing data related to systematic reviews when
                producing guidelines and recommendation statements for their
                constituencies.
              </dd>
            </div>
          </dl>
          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div
                  class="absolute flex h-12 w-12 items-center justify-center text-srdr-primary"
                >
                  <%= image_tag 'icon-educators.svg', class: 'float-center',
                  alt: 'educators' %>
                </div>
                <p class="mb-0 ml-16 text-lg font-bold leading-6 text-gray-900">
                  Educators & Librarians
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Use SRDR+ for instructing students and trainees in the best
                practices related to research methodology and evaluation.
              </dd>
            </div>
          </dl>
          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div
                  class="absolute flex h-12 w-12 items-center justify-center text-srdr-primary"
                >
                  <%= image_tag 'icon-clinicians.svg', class: 'float-center',
                  alt: 'clinicians' %>
                </div>
                <p class="mb-0 ml-16 text-lg font-bold leading-6 text-gray-900">
                  Clinicians
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Use SRDR+ for quick reference to study data that are relevant to
                clinical questions based on systematic reviews.
              </dd>
            </div>
          </dl>
          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div
                  class="absolute flex h-12 w-12 items-center justify-center text-srdr-primary"
                >
                  <%= image_tag 'icon-policymakers.svg', class: 'float-center',
                  alt: 'policymakers' %>
                </div>
                <p class="mb-0 ml-16 text-lg font-bold leading-6 text-gray-900">
                  Policymakers
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Use SRDR+ for quick reference to study data that are relevant to
                policy questions or recommendations based on systematic reviews.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
