<div class="relative overflow-hidden">
  <div class="announcement_container" style="position: absolute; z-index: 1">
    <%= render 'static_pages/announcements' %>
  </div>
  <div class="relative pt-6 pb-16 sm:pb-24 hero-background bg-srdr-primary">
    <div class="mt-16 sm:mt-24">
      <div class="mx-auto max-w-7xl">
        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
          <div
            class="px-4 sm:px-6 sm:text-center md:mx-auto md:max-w-2xl lg:col-span-6 lg:flex lg:items-center lg:text-left"
          >
            <div>
              <h1
                class="mt-4 !text-5xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl font-serif"
              >
                SRDR+: Moving systematic reviews forward.
              </h1>
              <p
                class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl"
              >
                SRDR+ is a free, powerful, easy to use tool for data extraction,
                management, and archival during systematic reviews.
              </p>
            </div>
          </div>
          <div
            class="mt-16 sm:mt-24 lg:col-span-6 lg:mt-0 flex flex-col justify-center"
          >
            <div
              class="bg-white sm:mx-auto sm:w-full sm:max-w-md sm:overflow-hidden sm:rounded-md"
            >
              <div class="px-4 py-8 sm:px-10">
                <div class="flex flex-col justify-center">
                  <h1 class="text-2xl font-bold">
                    Search our Repository Today!
                  </h1>
                  <!-- prettier-ignore -->
                  <%= simple_form_for(:general_search, defaults: { required: false }, url: searches_path, method: :get) do |f| %>
                  <div class="my-6">
                    <!-- prettier-ignore -->
                    <%= f.input :name, label: false, placeholder: 'Enter your search term', input_html: { autofocus: true, value: params.dig(:general_search, :name) } %>
                  </div>
                  <div><%= f.button :submit, 'Search' %></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative -mt-12">
    <div class="mx-auto max-w-7xl mb-12">
      <div class="rounded-md bg-white shadow-md py-8 xl:py-16">
        <h2
          class="text-center text-3xl font-bold tracking-tight sm:text-4xl md:text-5xl font-serif"
        >
          See how you can work with SRDR+
        </h2>
        <div class="px-8 lg:px-36">
          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div
                  class="absolute flex h-10 w-10 items-center justify-center text-srdr-primary"
                >
                  <%= image_tag 'icon-researchers.svg', class: 'float-center',
                  alt: 'researchers' %>
                </div>
                <p class="mb-0 ml-16 text-lg font-bold leading-6 text-gray-900">
                  Researchers
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Use SRDR+ as a free platform for extracting, archiving, and
                sharing data during systematic reviews and accessing shared data
                related to systematic reviews.
              </dd>
            </div>
          </dl>
          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div
                  class="absolute flex h-10 w-10 items-center justify-center text-srdr-primary"
                >
                  <%= image_tag 'icon-guideline-developers.svg', class:
                  'float-center', alt: 'guideline-developers' %>
                </div>
                <p class="mb-0 ml-16 text-lg font-bold leading-6 text-gray-900">
                  Guideline Developers
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Use SRDR+ for accessing data related to systematic reviews when
                producing guidelines and recommendation statements for their
                constituencies.
              </dd>
            </div>
          </dl>
          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div
                  class="absolute flex h-10 w-10 items-center justify-center text-srdr-primary"
                >
                  <%= image_tag 'icon-educators.svg', class: 'float-center',
                  alt: 'educators' %>
                </div>
                <p class="mb-0 ml-16 text-lg font-bold leading-6 text-gray-900">
                  Educators & Librarians
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Use SRDR+ for instructing students and trainees in the best
                practices related to research methodology and evaluation.
              </dd>
            </div>
          </dl>
          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div
                  class="absolute flex h-10 w-10 items-center justify-center text-srdr-primary"
                >
                  <%= image_tag 'icon-clinicians.svg', class: 'float-center',
                  alt: 'clinicians' %>
                </div>
                <p class="mb-0 ml-16 text-lg font-bold leading-6 text-gray-900">
                  Clinicians
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Use SRDR+ for quick reference to study data that are relevant to
                clinical questions based on systematic reviews.
              </dd>
            </div>
          </dl>
          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div
                  class="absolute flex h-10 w-10 items-center justify-center text-srdr-primary"
                >
                  <%= image_tag 'icon-policymakers.svg', class: 'float-center',
                  alt: 'policymakers' %>
                </div>
                <p class="mb-0 ml-16 text-lg font-bold leading-6 text-gray-900">
                  Policymakers
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">
                Use SRDR+ for quick reference to study data that are relevant to
                policy questions or recommendations based on systematic reviews.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="relative bg-slate-50">
    <div class="mx-auto max-w-7xl p-4 xl:px-0 xl:py-16">
      <div class="relative">
        <h2
          class="text-center text-3xl font-bold tracking-tight sm:text-4xl md:text-5xl font-serif"
        >
          More than just features
        </h2>
      </div>
      <div
        class="relative mt-6 lg:mt-24 lg:grid lg:grid-cols-2 lg:items-center lg:gap-8"
      >
        <div class="relative lg:order-2">
          <h3
            class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl font-serif"
          >
            Create your systematic review project today
          </h3>
          <p class="mt-3 text-lg text-gray-500">
            SRDR+ has a variety of features that make it the best place to
            conduct systematic reviews.
          </p>
        </div>

        <div class="relative mt-10 lg:mt-0" aria-hidden="true">
          <div
            class="bg-white min-h-[3rem] my-4 pl-4 py-4 shadow-md rounded-md flex items-center"
          >
            <div
              class="absolute flex h-8 w-8 items-center justify-center rounded-md text-srdr-primary"
            >
              <%= image_tag 'icon-extraction-form.png', alt: 'extraction-form'
              %>
            </div>
            <div class="ml-16 text-lg font-medium leading-6 text-gray-900">
              Build electronic data extraction forms
            </div>
          </div>
          <div
            class="bg-white min-h-[3rem] my-4 pl-4 py-4 shadow-md rounded-md flex items-center"
          >
            <div
              class="absolute flex h-8 w-8 items-center justify-center rounded-md text-srdr-primary"
            >
              <%= image_tag 'icon-include-studies.png', alt: 'include-studies'
              %>
            </div>
            <div class="ml-16 text-lg font-medium leading-6 text-gray-900">
              Extract and compare data
            </div>
          </div>
          <div
            class="bg-white min-h-[3rem] my-4 pl-4 py-4 shadow-md rounded-md flex items-center"
          >
            <div
              class="absolute flex h-8 w-8 items-center justify-center rounded-md text-srdr-primary"
            >
              <%= image_tag 'icon-collaboration.png', alt: 'collaboration' %>
            </div>
            <div class="ml-16 text-lg font-medium leading-6 text-gray-900">
              Collaborate with your team
            </div>
          </div>
          <div
            class="bg-white min-h-[3rem] my-4 pl-4 py-4 shadow-md rounded-md flex items-center"
          >
            <div
              class="absolute flex h-8 w-8 items-center justify-center rounded-md text-srdr-primary"
            >
              <%= image_tag 'icon-export.png', alt: 'export' %>
            </div>
            <div class="ml-16 text-lg font-medium leading-6 text-gray-900">
              Customize exports of your datasets
            </div>
          </div>
        </div>
      </div>

      <div
        class="relative mt-6 lg:mt-24 lg:grid lg:grid-cols-2 lg:items-center lg:gap-8"
      >
        <div class="relative">
          <h3
            class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl font-serif"
          >
            Access study data from published systematic reviews today.
          </h3>
          <p class="mt-3 text-lg text-gray-500">Find and organize your data.</p>
        </div>
        <div class="relative mt-10 lg:mt-0" aria-hidden="true">
          <div
            class="bg-white min-h-[3rem] my-4 pl-4 py-4 shadow-md rounded-md flex items-center"
          >
            <div
              class="absolute flex h-8 w-8 items-center justify-center rounded-md text-srdr-primary"
            >
              <%= image_tag 'icon-browse-topic.png', alt: 'browse-topic' %>
            </div>
            <div class="ml-16 text-lg font-medium leading-6 text-gray-900">
              Browse topics with available study data
            </div>
          </div>
          <div
            class="bg-white min-h-[3rem] my-4 pl-4 py-4 shadow-md rounded-md flex items-center"
          >
            <div
              class="absolute flex h-8 w-8 items-center justify-center rounded-md text-srdr-primary"
            >
              <%= image_tag 'icon-download-data.png', alt: 'download-data' %>
            </div>
            <div class="ml-16 text-lg font-medium leading-6 text-gray-900">
              Download study data
            </div>
          </div>
          <div
            class="bg-white min-h-[3rem] my-4 pl-4 py-4 shadow-md rounded-md flex items-center"
          >
            <div
              class="absolute flex h-8 w-8 items-center justify-center rounded-md text-srdr-primary"
            >
              <%= image_tag 'icon-use-data.png', alt: 'use-data' %>
            </div>
            <div class="ml-16 text-lg font-medium leading-6 text-gray-900">
              Use study data in your own systematic review
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative">
    <div class="mx-auto max-w-7xl p-4 xl:px-0 xl:py-16">
      <h2
        class="pb-16 text-center text-3xl font-bold tracking-tight sm:text-4xl md:text-5xl font-serif"
      >
        Leading professionals love SRDR+
      </h2>
      <div class="space-y-12">
        <ul
          role="list"
          class="list-none space-y-4 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:grid-cols-2 lg:gap-8"
        >
          <li class="py-6 px-6 text-center xl:px-10 xl:text-left">
            <div>
              <blockquote>
                <p class="italic font-bold py-4">
                  “In my regard, SRDR is among the most relevant developments in
                  recent years!”
                </p>
              </blockquote>
              <%= image_tag 'testimonial-matthias-perleth.png', class: 'mx-auto
              h-20 w-20 rounded-full xl:h-28 xl:w-28', alt: 'Image of Matthias
              Perleth' %>
              <div class="space-y-2 xl:flex xl:items-center xl:justify-between">
                <div class="space-y-1 text-lg font-medium leading-6 w-full">
                  <h3 class="font-serif !text-base font-bold">
                    Mathias Perleth, MPH
                  </h3>
                  <p class="text-xs">
                    Board Treasurer, International Network of Agencies for
                    Health Technology Assessment [INAHTA], Germany
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-6 px-6 text-center xl:px-10 xl:text-left">
            <div>
              <blockquote>
                <p class="italic font-bold py-4">
                  “I like SRDR’s use of the Tabs and the separation by topic
                  area of the Tabs; it allows for focus on sections of a paper
                  at a time. SRDR is powerful and adaptable, provides a way to
                  standardize diverse results, and provides structure.“
                </p>
              </blockquote>
              <%= image_tag 'testimonial-christine-clifford.png', class:
              'mx-auto h-20 w-20 rounded-full xl:h-28 xl:w-28', alt: 'Image of
              Christine Clifford Perleth' %>
              <div class="space-y-2 xl:flex xl:items-center xl:justify-between">
                <div class="space-y-1 text-lg font-medium leading-6 w-full">
                  <h3 class="font-serif !text-base font-bold">
                    Christine Clifford, MHP
                  </h3>
                  <p class="text-xs">
                    Project Director, Eunice Kennedy Shriver Center, University
                    of Massachusetts Medical School, USA
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-6 px-6 text-center xl:px-10 xl:text-left">
            <div>
              <blockquote>
                <p class="italic font-bold py-4">
                  “SRDR is one of the few data systems designed specifically for
                  producing and archiving systematic reviews with the intention
                  to share the data with the public. It’s extremely flexible and
                  it allows users to design their forms (and data items on the
                  forms) in a way that best suit their needs and workflow.”
                </p>
              </blockquote>
              <%= image_tag 'testimonial-tianjing-li.png', class: 'mx-auto h-20
              w-20 rounded-full xl:h-28 xl:w-28', alt: 'Image of Tianjing Li' %>
              <div class="space-y-2 xl:flex xl:items-center xl:justify-between">
                <div class="space-y-1 text-lg font-medium leading-6 w-full">
                  <h3 class="font-serif !text-base font-bold">
                    Tianjing Li, MD, MHS, PhD
                  </h3>
                  <p class="text-xs">
                    Director, Cochrane Eyes and Vision United States Satellite,
                    Associate Professor, Johns Hopkins Bloomberg School of
                    Public Health, USA
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-6 px-6 text-center xl:px-10 xl:text-left">
            <div>
              <blockquote>
                <p class="italic font-bold py-4">
                  “The structure of SRDR lends itself well to teaching
                  metacognitive processes associated with linking the discrete
                  steps of the evidence analysis process. Another benefit is the
                  flexibility of SRDR to handle diagnostic accuracy as well as
                  etiology, treatment, and prognosis questions during systematic
                  reviews.”
                </p>
              </blockquote>
              <%= image_tag 'testimonial-james-scott-parrott.png', class:
              'mx-auto h-20 w-20 rounded-full xl:h-28 xl:w-28', alt: 'Image of
              James Scott Parrott' %>
              <div class="space-y-2 xl:flex xl:items-center xl:justify-between">
                <div class="space-y-1 text-lg font-medium leading-6 w-full">
                  <h3 class="font-serif !text-base font-bold">
                    James Scott Parrott, PhD
                  </h3>
                  <p class="text-xs">
                    Professor, Rutgers University School of Health Professions,
                    USA
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hero-background">
    <div
      class="mx-auto max-w-2xl py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8"
    >
      <h2
        class="font-serif text-3xl font-bold tracking-tight text-white sm:text-4xl"
      >
        <span class="block">Join thousands of professionals</span>
      </h2>
      <%= link_to 'TRY SRDR+ NOW', new_user_registration_path, class:"mt-8
      inline-flex w-full items-center justify-center rounded-md border
      border-transparent bg-white px-5 py-3 text-base font-bold text-black
      bg-yellow-400 sm:w-auto" %>
    </div>
  </div>
</div>
