<% followups.each do |prereq_text, attach_target, eefps_ff| %>
  <% record = eefps_ff.records.first %>
  <% unless record %>
    <% record = Record.find_or_create_by(recordable: eefps_ff) %>
  <% end %>
  <div class="attach-me hide" class="<%= prereq_text %>" data-attach-target="<%= attach_target %>">
    <%= simple_form_for(record, remote: true, namespace: "record_#{record.id}", html: { data: { 'abide': '', 'live-validate': true } }) do |f| %>
      <%= f.input :name, as: :string, label: false, required: false, input_html: { style: 'margin-bottom: 0;' } %>
      <div id="record-id-<%= record.id %>" class='record-info' style='opacity: 0;'>Saved!</div>
    <% end %>
  </div>
<% end %>
