<div><%= "QRC:#{qrc.id}:#{qrc.question_row_column_type.name}" %></div>
<div class="flex">
  <input
    type="text"
    id="<%= qrc.name %>"
    name="<%= qrc.name %>"
    class="!m-0"
    disabled
  />
  <input
    type="text"
    id="<%= qrc.name %>"
    name="<%= qrc.name %>"
    class="!m-0"
    disabled
  />
  <input
    type="text"
    id="<%= qrc.name %>"
    name="<%= qrc.name %>"
    class="!m-0"
    disabled
  />
</div>
