<div class="mr-2">
  <!-- prettier-ignore -->
  <%= render('consolidations/partials/checkbox') %>
  <%= render('consolidations/partials/dropdown') %>
  <%= render('consolidations/partials/numeric') %>
  <%= render('consolidations/partials/radio') %>
  <%= render('consolidations/partials/select2_multi') %>
  <%= render('consolidations/partials/select2_single') %>
  <%= render('consolidations/partials/text') %>
</div>
