<div class="mx-auto p-4 lg:p-8">
  <h1 class="text-xl font-bold">Member(s) & Role(s)</h1>
  <div class="button tiny !mb-2" data-open="member-roles-modal">See Role Definitions</div>
  <div class="grid grid-cols-1">
    <%= simple_form_for(@project, html: { inert: !@project_leader, 'abide': '', 'live-validate': true }) do |f| %>
      <div class="form-inputs" style="display: inline-block;">
        <table class="hover" style="table-layout: fixed;">
          <thead>
            <tr>
              <th class="w-16">Expertise</th>
              <th class="w-1/5">User</th>
              <% ProjectsUser::ROLES.each do |role| %>
                <th class="w-24"><%= role %></th>
              <% end %>
              <th>Interest Areas</th>
              <th>Additional Roles & Responsibilities</th>
              <th>Availability Notes</th>
              <% if @project_leader %>
                <th class="w-24"></th>
              <% end %>
            </tr>
          </thead>
          <tbody id="projects-users-table">
            <%= f.simple_fields_for :projects_users do |pu_f| %>
              <%= render 'projects_users/form', f: pu_f %>
            <% end %>
          </tbody>
        </table>
      </div>
      <% if @project_leader %>
        <div class="links">
          <%= link_to_add_association 'add another user to project', f, :projects_users, partial: 'projects_users/form', 'data-association-insertion-node': '#projects-users-table', 'data-association-insertion-method': 'append' %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, 'Save changes' %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="reveal" id="member-roles-modal" data-reveal style="width: initial; max-width: 60%; height: 95vh;">
    <table id="member-roles-table" style="margin-top: 30px; text-align: center; border-spacing: 10px;">
      <thead>
        <tr>
          <th width="40%">Ability</th>
          <th width="15%">Leader</th>
          <th width="15%">Consolidator</th>
          <th width="15%">Contributor</th>
          <th width="15%">Auditor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left; font-style: italic;">View the Project Information, Key Questions, and Member(s) & Role(s) section.</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">Edit the Project Information, Key Questions, and Member(s) & Role(s) section.</td>
          <td><i class="fas fa-check"></i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">View the Extraction Form Builder.</td>
          <td><i class="fas fa-check"></i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">Edit the Extraction Form Builder.</td>
          <td><i class="fas fa-check"></i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">View citations.</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">Add/create/edit citations.</td>
          <td><i class="fas fa-check"></i></td>
          <td></td>
          <td><i class="fas fa-check"></i></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">View extractions.</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">Import/add/create extractions.</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">Edit extractions.</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">Access the Comparison Tool and consolidate information in the multiple copies of a given extraction into a single consolidated extraction.</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">View and edit the list of consolidated extractions.</td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">Import study data into the project.</td>
          <td><i class="fas fa-check"></i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">Export data from the project.</td>
          <td><i class="fas fa-check"></i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left; font-style: italic;">Request publication of the project</td>
          <td><i class="fas fa-check"></i></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
