<%# @result_statistic_section = rss %>
<div class="nested-fields comparates">
  <%= f.simple_fields_for :comparates do |comparate| %>
    <%= render 'result_statistic_sections/edit/' + @result_statistic_section.result_statistic_section_type.name.parameterize.underscore + '_comparate_fields', f: comparate %>
  <% end %>
  <div class="links add-comparate">
    <% if comparison == :bac %>
      <%= link_to_add_association f, :comparates, partial: 'result_statistic_sections/edit/' + @result_statistic_section.result_statistic_section_type.name.parameterize.underscore + '_comparate_fields', render_options: { locals: { comparison: comparison } } do %>
        <i class="fi-plus"></i>
        Add Arm
      <% end %>
    <% elsif comparison == :wac %>
      <%= link_to_add_association f, :comparates, partial: 'result_statistic_sections/edit/' + @result_statistic_section.result_statistic_section_type.name.parameterize.underscore + '_comparate_fields', render_options: { locals: { comparison: comparison } }, style: 'display: none;' do %>
        <i class="fi-plus"></i>
        Add Timepoint
      <% end %>
    <% elsif comparison == :diagnostic_test %>
      <%= link_to_add_association f, :comparates, partial: 'result_statistic_sections/edit/diagnostic_test/comparate_fields', render_options: { locals: { comparison: comparison } } do %>
        <i class="fi-plus"></i>
        Add Test
      <% end %>
    <% end %>
  </div>
</div>
