<div x-data="citation_lifecycle_management">
  <%= render 'dashboard' %>

  <div class="px-4 sm:px-6 lg:px-8 py-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl font-semibold text-gray-900">
          Citation Lifecycle Management
        </h1>
        <p class="mt-2 text-sm text-gray-700">Promote or demote citations.</p>
      </div>
    </div>
    <div class="my-8 flex flex-col">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div
            class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg mb-8"
          >
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                  >
                    Accession No.
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Authors
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Title
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Publication Date
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Participants
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Label
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Reason(s)
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Tag(s)
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Note(s)
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Status
                  </th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <template x-if="citations_projects == null">
                  <tr>
                    <td>Loading..</td>
                  </tr>
                </template>
                <template
                  x-if="citations_projects != null && citations_projects.length == 0"
                >
                  <tr>
                    <td>No citations</td>
                  </tr>
                </template>
                <template x-if="citations_projects != null">
                  <template x-for="citations_project in citations_projects">
                    <tr>
                      <td
                        class="py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-6"
                        x-text="citations_project.accession_number_alts"
                      ></td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500"
                        x-text="citations_project.author_map_string"
                      ></td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500"
                        x-text="citations_project.accession_number_alts"
                      ></td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500"
                        x-text="citations_project.year"
                      ></td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500"
                        x-text="citations_project.users"
                      ></td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500"
                        x-text="citations_project.labels"
                      ></td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500"
                        x-text="citations_project.reasons"
                      ></td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500"
                        x-text="citations_project.tags"
                      ></td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500"
                        x-text="citations_project.note"
                      ></td>
                      <td
                        class="px-3 py-4 text-sm text-gray-500"
                        x-text="citations_project.screening_status"
                      ></td>
                      <td
                        class="whitespace-nowrap relative py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 flex flex-col"
                      >
                        <button
                          class="cursor-pointer m-auto hover:no-underline hover:text-white inline-flex items-center justify-center rounded-md border border-transparent bg-srdrpurple px-4 py-1 text-sm font-medium text-white shadow-sm hover:bg-srdrpurple-light focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
                          @click="update_evaluation(citations_project.citations_project_id, 'promote')"
                        >
                          Promote</button
                        ><br />
                        <button
                          class="cursor-pointer m-auto hover:no-underline hover:text-white inline-flex items-center justify-center rounded-md border border-transparent bg-srdrpurple px-4 py-1 text-sm font-medium text-white shadow-sm hover:bg-srdrpurple-light focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
                          @click="update_evaluation(citations_project.citations_project_id, 'demote')"
                        >
                          Demote
                        </button>
                      </td>
                    </tr>
                  </template>
                </template>
              </tbody>
            </table>
          </div>
          <%= paginate(@citations_projects, theme: 'foundation') %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("citation_lifecycle_management", () => ({
      citations_projects: null,

      init() {
        this.fetch_citations_projects();
      },

      async fetch_citations_projects() {
        const response = await fetch(
          "/projects/<%= params[:project_id] %>/citation_lifecycle_management?page=<%= params[:page] %>",
          {
            method: "GET",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
          }
        );
        const data = await response.json();
        this.citations_projects = data.citations_projects;
      },

      async update_evaluation(citations_project_id, type) {
        const response = await fetch(
          `/citations_projects/${citations_project_id}/update_evaluation?page=<%= params[:page] %>&type=${type}`,
          {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
          }
        );
        const data = await response.json();
        for (let i = 0; i < this.citations_projects.length; i++) {
          const citations_project = this.citations_projects[i];
          if (
            citations_project.citations_project_id == data.citations_project_id
          ) {
            citations_project.screening_status = data.screening_status;
          }
        }
        Alpine.store("dashboard").fetch_kpis();
      },
    }));
  });
</script>
