<div x-data="{
  isAlertModalOpen: false,
  modalConfirmAction: () => {},
  alertModalContent: '',
  closeAlertModal: function() {
    this.isAlertModalOpen = false;
  }
}">
  <%= render 'shared/alert_modal' %>

  <div x-data="{ url: '/abstract_screenings/<%= params[:id] %>/edit' }">
    <%= render 'abstract_screenings/form/new_form' %>
  </div>

  <div class="px-4 sm:px-6 lg:px-8 py-4 block lg:flex">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">
        Delete Abstract Screening
      </h1>
      <p class="mt-2 text-sm text-gray-700">
        Please note that this cannot be undone.
      </p>
    </div>
    <div class="mt-4">
      <%= link_to 'Delete Abstract Screening',
        "#",
        class: "cursor-pointer inline-flex items-center justify-center rounded-md border border-transparent bg-red-700 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto hover:no-underline hover:text-white",
        "x-on:click.prevent" => "isAlertModalOpen = true; alertModalContent = 'Are you sure? Please note that this cannot be undone.'; modalConfirmAction = () => { document.getElementById('delete-form').submit(); }" %>
      <form id="delete-form" action="<%= abstract_screening_path(@abstract_screening) %>" method="post" style="display: none;">
        <input type="hidden" name="_method" value="delete">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>
    </div>
  </div>
</div>
