<div class="p-4 lg:p-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-bold">Abstract Screenings</h1>
      <p class="mt-2 text-sm text-gray-700">
        Setup an abstract screening process for your project members and pool of
        citations
      </p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <%= link_to('Create New Screening',
      new_project_abstract_screening_path(@project), class: "inline-flex
      items-center justify-center rounded-md border border-transparent
      bg-srdrpurple px-4 py-2 text-sm font-medium text-white shadow-sm
      hover:bg-srdrpurple-light focus:outline-none focus:ring-2
      focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto hover:no-underline
      hover:text-white") %>
    </div>
  </div>
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-8 flex flex-col">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle">
          <div
            class="overflow-hidden shadow-sm ring-1 ring-black ring-opacity-5"
          >
            <table
              class="w-full table-auto divide-y divide-gray-300 overflow-x-auto whitespace-nowrap"
            >
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8"
                  >
                    Type
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Options
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Participant (No. of Labels)
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Predefined Reasons
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Predefined Tags
                  </th>
                  <th
                    scope="col"
                    class="relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8"
                  >
                    <span class="sr-only">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <% if @abstract_screenings.empty? %>
                <tr>
                  <td>No abstract screenings yet.</td>
                </tr>
                <% end %>
                <!-- prettier-ignore -->
                <% @abstract_screenings.each do |as| %>
                <tr>
                  <td
                    class="pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-6 lg:pl-8"
                  >
                    <!-- prettier-ignore -->
                    <%= as.abstract_screening_type %>
                    <% if AbstractScreening::NON_PERPETUAL.include?(as.abstract_screening_type) %>
                    <div>
                      No. of citations per user: <%= as.no_of_citations %>
                    </div>
                    <% end %>
                  </td>
                  <td class="px-3 text-sm text-gray-500">
                    <div class="flex justify-between">
                      <div>Exclusive users:</div>
                      <div><%= as.exclusive_users %></div>
                    </div>
                    <div class="flex justify-between">
                      <div>Only predefined reasons:</div>
                      <div><%= as.only_predefined_reasons %></div>
                    </div>
                    <div class="flex justify-between">
                      <div>Only predefined tags:</div>
                      <div><%= as.only_predefined_tags %></div>
                    </div>
                    <div class="flex justify-between">
                      <div>Hide author:</div>
                      <div><%= as.hide_author %></div>
                    </div>
                    <div class="flex justify-between">
                      <div>Hide journal:</div>
                      <div><%= as.hide_journal %></div>
                    </div>
                    <div class="flex justify-between">
                      <div>Tags required for:</div>
                      <div><%= as.tag_options.join(', ') %></div>
                    </div>
                    <div class="flex justify-between">
                      <div>Reasons required for:</div>
                      <div><%= as.reason_options.join(', ') %></div>
                    </div>
                    <div class="flex justify-between">
                      <div>Notes required for:</div>
                      <div><%= as.note_options.join(', ') %></div>
                    </div>
                  </td>
                  <td class="px-3 text-sm text-gray-500">
                    <!-- prettier-ignore -->
                    <% users = as.abstract_screening_results.map(&:user) %>
                    <% users += as.users.to_a if as.exclusive_users %>
                    <% users.uniq.each do |user| %>
                    <!-- prettier-ignore -->
                    <div><%= user.handle %> (<%= AbstractScreeningResult.where(user:, abstract_screening: as).where("label IS NOT NULL").count %>)</div>
                    <% end %>
                  </td>
                  <td class="px-3 text-sm text-gray-500">
                    <% as.reasons.map(&:name).each do |reason| %>
                    <!-- prettier-ignore -->
                    - <%= reason %><br />
                    <% end %>
                  </td>
                  <td class="px-3 text-sm text-gray-500">
                    <% as.tags.map(&:name).each do |tag| %>
                    <!-- prettier-ignore -->
                    - <%= tag %><br />
                    <% end %>
                  </td>

                  <td class="flex flex-col items-center">
                    <% if @project.leaders.include?(current_user) ||
                    !as.exclusive_users || as.users.include?(current_user) %>
                    <!-- prettier-ignore -->
                    <% if AbstractScreeningService.find_citation_id(as, current_user) %>
                    <%= link_to('Continue Screening',
                    abstract_screening_screen_path(as), class: "w-48 inline-flex
                    items-center justify-center rounded-md border
                    border-transparent bg-srdrpurple px-4 py-2 my-1 text-center
                    text-sm font-medium text-white shadow-sm
                    hover:bg-srdrpurple-light focus:outline-none focus:ring-2
                    focus:ring-indigo-500 focus:ring-offset-2 hover:no-underline
                    hover:text-white") %>
                    <% else %>
                    <button
                      class="w-48 inline-flex mb-2 cursor-not-allowed saturate-[0.25] items-center justify-center rounded-md border border-transparent bg-srdrpurple px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-srdrpurple-light focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 hover:no-underline hover:text-white"
                    >
                      Nothing Left to Screen</button
                    ><% end %>
                    <!-- prettier-ignore -->
                    <%= link_to('Show Results',
                      abstract_screening_path(as), class: "w-48 inline-flex
                      items-center justify-center rounded-md border
                      border-transparent bg-srdrpurple px-4 py-2 my-1
                      text-center text-sm font-medium text-white shadow-sm
                      hover:bg-srdrpurple-light focus:outline-none focus:ring-2
                      focus:ring-indigo-500 focus:ring-offset-2
                      hover:no-underline hover:text-white") %>
                    <!-- prettier-ignore -->
                    <% if @project.leaders.include?(current_user) %>
                    <%= link_to('Edit', edit_abstract_screening_path(as),
                      class: "w-48 inline-flex items-center justify-center
                      rounded-md border border-transparent bg-srdrpurple px-4
                      py-2 my-1 text-center text-sm font-medium text-white
                      shadow-sm hover:bg-srdrpurple-light focus:outline-none
                      focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2
                      hover:no-underline hover:text-white") %>
                    <% end %>
                  </td>
                </tr>
                <% end %> <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <%= paginate(@abstract_screenings, theme: 'foundation') %>
      </div>
    </div>
  </div>
</div>
