<div class="px-4 sm:px-6 lg:px-8 pt-8">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div>
    <h3 class="text-xl leading-6 font-medium text-gray-900">
      Citation Screening Pipeline (I - IV)
    </h3>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">
      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          I. Unprocessed
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          <%= @up.count %>
        </dd>
      </div>

      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          II. Abstract Screening
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          <%= @as.count %>
        </dd>
      </div>

      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          III. Full Text Screening
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          <%= @fs.count %>
        </dd>
      </div>

      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">
          IV. Data Extraction
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">
          <%= @de.count %>
        </dd>
      </div>
    </dl>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="px-4 sm:px-6 lg:px-8 py-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Abstract Screening</h1>
      <p class="mt-2 text-sm text-gray-700">
        Setup an abstract screening process for your project members and pool of
        citations
      </p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <%= link_to('Create New Screening',
      new_project_abstract_screening_path(@project), class: "inline-flex
      items-center justify-center rounded-md border border-transparent
      bg-srdrpurple px-4 py-2 text-sm font-medium text-white shadow-sm
      hover:bg-srdrpurple-light focus:outline-none focus:ring-2
      focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto hover:no-underline
      hover:text-white") %>
    </div>
  </div>
  <div class="px-4 sm:px-6 lg:px-8 pt-8">
    <div class="mt-8 flex flex-col">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle">
          <div
            class="overflow-hidden shadow-sm ring-1 ring-black ring-opacity-5"
          >
            <table class="min-w-full table-auto divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8"
                  >
                    Type
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Options
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Participants
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    No. of Citations
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                  >
                    Total Finished
                  </th>
                  <th
                    scope="col"
                    class="relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8"
                  >
                    <span class="sr-only">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <% @project.abstract_screenings.each do |as| %>
                <tr>
                  <td
                    class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-6 lg:pl-8"
                  >
                    <%= as.abstract_screening_type %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <!-- prettier-ignore -->
                    Tags required for: <%= as.tag_options.join(', ') %><br />
                    Reasons required for: <%= as.reason_options.join(', ') %><br />
                    Notes required for: <%= as.note_options.join(', ') %><br />
                    Hide author: <%= as.hide_author %><br />
                    Hide journal: <%= as.hide_journal %><br />
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= as.projects_users_roles.count %> member(s)
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= as.abstract_screening_type == 'perpetual' ? '∞' :
                    as.citations_projects.count %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    3%<!-- todo replace placeholder -->
                  </td>

                  <td
                    class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 lg:pr-8"
                  >
                    <%= link_to('Continue Screening',
                    abstract_screening_screening_path(as), class: "inline-flex
                    items-center justify-center rounded-md border
                    border-transparent bg-srdrpurple px-4 py-2 my-4 text-sm
                    font-medium text-white shadow-sm hover:bg-srdrpurple-light
                    focus:outline-none focus:ring-2 focus:ring-indigo-500
                    focus:ring-offset-2 sm:w-auto hover:no-underline
                    hover:text-white") %>
                    <br />
                    <%= link_to('Show Results', abstract_screening_path(as),
                    class: "inline-flex items-center justify-center rounded-md
                    border border-transparent bg-srdrpurple px-4 py-2 my-4
                    text-sm font-medium text-white shadow-sm
                    hover:bg-srdrpurple-light focus:outline-none focus:ring-2
                    focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto
                    hover:no-underline hover:text-white") %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
