<div
  class="px-4 sm:px-6 lg:px-8 pt-8"
  x-data="{
    type: 'perpetual',
    allTag: false,
    allReason: false,
    allNote: false,
    yesTag: false,
    noTag: false,
    maybeTag: false,
    yesReason: false,
    noReason: false,
    maybeReason: false,
    yesNote: false,
    noNote: false,
    maybeNote: false,
    only_predefined_reasons: false,
    only_predefined_tags: false,
  }"
>
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">
        Create New Abstract Screening
      </h1>
      <p class="mt-2 text-sm text-gray-700">
        Setup an abstract screening process for your project members and pool of
        citations
      </p>
    </div>
  </div>
  <div class="flex flex-col w-full">
    <!-- prettier-ignore -->
    <%= simple_form_for([@project, @abstract_screening]) do |f| %>
    <div class="mb-4">
      <!-- prettier-ignore -->
      <%= f.input :abstract_screening_type, as: :select, collection: AbstractScreening::ABSTRACTSCREENINGTYPES, default: 'perpetual', input_html: { 'x-model': 'type' }%>
    </div>
    <template x-if="type != 'perpetual'">
      <div class="mb-4">
        <label for="no_of_citations"
          >Maximum number of citations (1..100,000) drawn from the citations
          pool:</label
        >
        <input
          type="number"
          id="no_of_citations"
          name="no_of_citations"
          min="1"
          max="100000"
        />
      </div>
    </template>
    <div class="mb-4">
      <!-- prettier-ignore -->
      <%= f.association(:projects_users_roles, label: 'Participants', required: true, collection: @project.projects_users_roles.to_h { |pur| [pur.handle, pur.id] }, input_html: { id: 'participants', multiple: 'multiple' } ) %>
    </div>

    <div class="grid grid-rows xl:grid-cols-4 gap-8 gap-x-12 my-8">
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            >All Labels Require Tags</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Screeners must always add a <strong>Tag</strong>
          </span>
        </span>
        <input
          type="checkbox"
          :value="allTag"
          @click="allTag = !allTag; yesTag = allTag; noTag = allTag; maybeTag = allTag"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>Yes</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Tags</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[yes_tag_required]"
          :value="yesTag"
          @click="yesTag = !yesTag; allTag = (yesTag && noTag && maybeTag)"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>No</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Tags</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[no_tag_required]"
          :value="noTag"
          @click="noTag = !noTag; allTag = (yesTag && noTag && maybeTag)"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>Maybe</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Tags</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[maybe_tag_required]"
          :value="maybeTag"
          @click="maybeTag = !maybeTag; allTag = (yesTag && noTag && maybeTag)"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>

      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            >All Labels Require Reasons</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Screeners must always add a <strong>Reason</strong>
          </span>
        </span>
        <input
          type="checkbox"
          :value="allReason"
          @click="allReason = !allReason; yesReason = allReason; noReason = allReason; maybeReason = allReason"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>Yes</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Reasons</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[yes_reason_required]"
          :value="yesReason"
          @click="yesReason = !yesReason; allReason = (yesReason && noReason && maybeReason)"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>No</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Reasons</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[no_reason_required]"
          :value="noReason"
          @click="noReason = !noReason; allReason = (yesReason && noReason && maybeReason)"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>Maybe</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Reasons</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[maybe_reason_required]"
          :value="maybeReason"
          @click="maybeReason = !maybeReason; allReason = (yesReason && noReason && maybeReason)"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>

      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            >All Labels Require Notes</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Screeners must always add a <strong>Note</strong>
          </span>
        </span>
        <input
          type="checkbox"
          :value="allNote"
          @click="allNote = !allNote; yesNote = allNote; noNote = allNote; maybeNote = allNote"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>Yes</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Notes</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[yes_note_required]"
          :value="yesNote"
          @click="yesNote = !yesNote; allNote = (yesNote && noNote && maybeNote)"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>No</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Notes</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[no_note_required]"
          :value="noNote"
          @click="noNote = !noNote; allNote = (yesNote && noNote && maybeNote)"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>Maybe</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Notes</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[maybe_note_required]"
          :value="maybeNote"
          @click="maybeNote = !maybeNote; allNote = (yesNote && noNote && maybeNote)"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>

      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            >Only use predefined reasons</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Screeners can only choose from selected reasons</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[only_predefined_reasons]"
          :value="only_predefined_reasons"
          @click="only_predefined_reasons = !only_predefined_reasons"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            >Only use predefined tags</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Screeners can only choose from selected tags</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[only_predefined_tags]"
          :value="only_predefined_tags"
          @click="only_predefined_tags = !only_predefined_tags"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            >Hide Author Information</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Screeners will not be shown author information of citations</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[hide_author]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            >Hide Journal Information</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Screeners will not be shown journal information of citations</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[hide_journal]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
    </div>
    <template x-if="only_predefined_reasons">
      <div class="mb-4">
        <!-- prettier-ignore -->
        <%= f.association(:reasons, label: 'Selected Reasons', collection: [], input_html: { id: 'reasons', multiple: 'multiple' } ) %>
        <script>
          select2reasons();
        </script>
      </div>
    </template>

    <template x-if="only_predefined_tags">
      <div class="mb-4">
        <!-- prettier-ignore -->
        <%= f.association(:tags, label: 'Selected Tags', collection: [], input_html: { id: 'tags', multiple: 'multiple' } ) %>
        <script>
          select2tags();
        </script>
      </div>
    </template>

    <!-- prettier-ignore -->
    <%= f.button :submit, 'Create Abstract Screening', class: '!my-8', data: { confirm: "Please note that an Abstract Screening details cannot be modified after it's created. Continue?" } %>
    <% end %>
  </div>
</div>

<script>
  $("#participants").select2();
  function select2reasons() {
    $("#reasons").select2({
      tags: true,
      createTag: function (params) {
        var term = $.trim(params.term);

        if (term === "") {
          return null;
        }

        return {
          id: `_${term}`,
          text: term,
          newTag: true,
        };
      },
    });
  }

  function select2tags() {
    $("#tags").select2({
      tags: true,
      createTag: function (params) {
        var term = $.trim(params.term);

        if (term === "") {
          return null;
        }

        return {
          id: `_${term}`,
          text: term,
          newTag: true,
        };
      },
    });
  }
</script>
