<style>
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
</style>
<div x-data="" id="abstrackr-wrapper">
  <%= render 'abstract_screenings/screening/modal_weighing' %>
  <div
    class="h-32 absolute inset-0 mt-0 overflow-y-hidden overflow-x-scroll bg-gray-300 flex flex-col justify-center"
  >
    <div class="mt-3">
      <h1 class="px-8 pb-2 text-base font-bold leading-none">
        <%= render 'abstract_screenings/screening/dummy_title' %>
      </h1>
      <div class="px-8 text-sm no overflow-x-auto whitespace-nowrap">
        <%= render 'abstract_screenings/screening/dummy_journal' %>
      </div>
      <div class="horizontal-scroll-wrapper">
        <div
          class="horizontal-scroll-wrapper-item text-sm overflow-x-auto whitespace-nowrap"
        >
          <%= render 'abstract_screenings/screening/dummy_authors' %>
        </div>
      </div>
    </div>
  </div>
  <div
    class="h-auto block absolute inset-0 mt-32 mb-40 overflow-y-auto overflow-x-hidden bg-gray-100"
  >
    <div class="vertical-scroll-wrapper">
      <div class="vertical-scroll-wrapper-item">
        <div
          class="px-8 leading-loose weightable"
          @click="$store.global.toggle(); window.setTimeout(function () { document.getElementById('term').focus(); }, 0);"
        >
          <%= render 'abstract_screenings/screening/dummy_body' %>
        </div>
        <div class="px-8 break-all leading-loose">
          <%= render 'abstract_screenings/screening/dummy_keywords' %>
        </div>
        <div class="px-8 break-all leading-loose">
          <%= render 'abstract_screenings/screening/dummy_id' %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'abstract_screenings/screening/swiper' %>
</div>
