<% eefps = @eefps_by_efps_dict[efps.id].first %>
<div class="section-header">
  <h4><%= section_name %></h4>
  <%= render 'shared/statusing_form', statusing: eefps.statusing, status_name: eefps.statusing.status.name %>
</div>
<div class="row">
  <div class="column">
    <%= render 'extractions/shared/section_instructions', extraction: @extraction, section_name: section_name, eefps: eefps, efps: eefps.extraction_forms_projects_section %>
  </div>
</div>
<div class="row">
  <div class="column medium-centered medium-10">
    <%= render 'extractions/shared/type_3/type_3_new_custom_form', extraction: @extraction, section_name: section_name, eefps: eefps %>
  </div>
</div>
<div class="section-header" style="margin: 20px 0;">
  <h4><%= section_name %></h4>
  <%= render 'shared/statusing_form', statusing: eefps.statusing, status_name: eefps.statusing.status.name %>
</div>
