<div class="row">
  <div class="column medium-6">
    <dl>
      <dt class="label primary">Name</dt>
      <dd class="callout secondary">
        <%= citation.name %>
      </dd>
    </dl>
  </div>
  <div class="column medium-6">
    <dl>
      <dt class="label primary">Publication Year</dt>
      <dd class="callout secondary">
        <% if citation.journal.present? %>
          <%= citation.journal.publication_date %>
        <% end %>
      </dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="column medium-6">
    <dl>
      <dt class="label primary">Journal Name</dt>
      <dd class="callout secondary">
        <% if citation.journal.present? %>
          <%= citation.journal.name %>
        <% end %>
      </dd>
    </dl>
  </div>
  <div class="column medium-3">
    <dl>
      <dt class="label primary">Volume</dt>
      <dd class="callout secondary">
        <% if citation.journal.present? %>
          <%= citation.journal.volume %>
        <% end %>
      </dd>
    </dl>
  </div>
  <div class="column medium-3">
    <dl>
      <dt class="label primary">Issue</dt>
      <dd class="callout secondary">
        <% if citation.journal.present? %>
          <%= citation.journal.issue %>
        <% end %>
      </dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="column medium-12">
    <dl>
      <dt class="label primary">Abstract</dt>
      <dd class="callout secondary"><%= citation.abstract %></dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="column medium-6">
    <dl>
      <dt class="label primary">Authors</dt>
      <dd class="callout secondary"><%= citation.authors %></dd>
    </dl>
  </div>
  <div class="column medium-6">
    <dl>
      <dt class="label primary">Keywords</dt>
      <dd class="callout secondary">
        <% citation.keywords.map { |keyword| keyword.name }.each do |name| %>
          <li><%= name %></li>
        <% end %>
      </dd>
    </dl>
  </div>
</div>
