<!-- prettier-ignore -->
<% if add_submenu?(controller_name, action_name, controller, @publishable_record) %>
    <% project = find_project(@project, @extraction, @extraction_forms_project, @question, @extraction_forms_projects_section, @publishable_record) %>
<div
  class="bg-srdr-secondary mx-auto px-4 lg:px-8 text-white whitespace-nowrap"
>
  <div class="flex h-8 items-center justify-between overflow-auto">
    <div>
      <!-- prettier-ignore -->
      <%= "Project ID##{project.id}: #{project.name}" %>
        <% if project.publishing.present? && project.publishing.approval.present? %>
      <span
        class="ml-4 inline-flex items-center rounded bg-green-100 px-2 py-0.5 text-xs font-bold text-green-800"
        >Published</span
      >
      <% elsif project.publishing.present? %>
      <span
        class="ml-4 inline-flex items-center rounded bg-yellow-700 px-2 py-0.5 text-xs font-bold text-white"
        >Publication Requested</span
      >
      <% else %>
      <span
        class="ml-4 inline-flex items-center rounded bg-gray-100 px-2 py-0.5 text-xs font-bold text-gray-800"
        >Unpublished</span
      >
      <% end %>
    </div>
    <div class="ml-4" x-show="!extractions" x-cloak>
      <a
        href="<%= project_extractions_path(project) %>"
        class="rounded-md px-2 py-1 text-xs font-medium bg-green-700 !text-white border-[0.5px] border-white"
        >Go to Extractions
      </a>
    </div>
  </div>
  <div
    class="flex flex-col lg:flex-row lg:space-x-1"
    x-data="{
      project_menu: false,
      screening_menu: false,
      extracting_menu: false,
      tools_menu: false
    }"
  >
    <div
      class="relative my-1"
      x-data="{ project_menu: false }"
      @mouseover.away="project_menu = false"
    >
      <button
        @click="project_menu = !project_menu"
        @mouseover="project_menu = true"
        type="button"
        class="p-2 h-8 inline-flex items-center justify-between lg:justify-normal w-full lg:w-auto gap-x-1 text-sm font-light leading-6 text-white cursor-pointer"
        :class="(project_info || key_questions || citation_pool || members_and_roles) && 'bg-srdr-primary !text-white'"
        aria-expanded="false"
      >
        <span>Project</span>
        <svg
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <div
        class="absolute z-10 flex w-[calc(100vw-32px)] lg:w-auto"
        x-show="project_menu"
        x-transition:enter="transition ease-out duration-200"
        x-transition:enter-start="opacity-0 translate-y-1"
        x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="transition ease-in duration-150"
        x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 translate-y-1"
        x-cloak
        @click.outside="project_menu = false"
      >
        <div
          class="w-screen lg:w-auto shrink rounded-xl bg-white p-3 text-sm font-light leading-6 text-gray-900 shadow-lg ring-1 ring-gray-900/5"
        >
          <a
            href="<%= edit_project_path(project) %>?page=info"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="project_info && 'bg-srdr-primary !text-white'"
            >Project Info</a
          >
          <a
            href="<%= edit_project_path(project) %>?page=key_questions"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="key_questions && 'bg-srdr-primary rounded-md !text-white'"
            >Key Questions</a
          >
          <a
            href="<%= project_citations_path(project) %>"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="citation_pool && 'bg-srdr-primary rounded-md !text-white'"
            >Citations</a
          >
          <a
            href="<%= edit_project_path(project) %>?page=members_and_roles"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="members_and_roles && 'bg-srdr-primary rounded-md !text-white'"
            >Member(s) & Role(s)</a
          >
        </div>
      </div>
    </div>
    <div
      class="relative my-1"
      x-data="{ screening_menu: false }"
      @mouseover.away="screening_menu = false"
    >
      <button
        @click="screening_menu = !screening_menu"
        @mouseover="screening_menu = true"
        type="button"
        class="p-2 h-8 inline-flex items-center justify-between lg:justify-normal w-full lg:w-auto gap-x-1 text-sm font-light leading-6 text-white cursor-pointer"
        :class="(lifecycle_management || screening_forms || abstract_screening || fulltext_screening) && 'bg-srdr-primary !text-white'"
        aria-expanded="false"
      >
        <span>Screening</span>
        <svg
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <div
        class="absolute z-10 flex w-[calc(100vw-32px)] lg:w-auto"
        x-show="screening_menu"
        x-transition:enter="transition ease-out duration-200"
        x-transition:enter-start="opacity-0 translate-y-1"
        x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="transition ease-in duration-150"
        x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 translate-y-1"
        x-cloak
        @click.outside="screening_menu = false"
      >
        <div
          class="w-screen lg:w-auto shrink rounded-xl bg-white p-3 text-sm font-light leading-6 text-gray-900 shadow-lg ring-1 ring-gray-900/5"
        >
          <% if AbstractScreeningService.as_user?(current_user) %>
          <a
            href="<%= project_citation_lifecycle_management_path(project) %>"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="lifecycle_management && 'bg-srdr-primary rounded-md !text-white'"
            >Citation Phase Management</a
          >
          <% end %>
          <a
            href="<%= project_screening_forms_path(project) %>"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="screening_forms && 'bg-srdr-primary rounded-md !text-white'"
            >Screening Form Builder</a
          >
          <a
            href="<%= project_abstract_screenings_path(project) %>"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="abstract_screening && 'bg-srdr-primary rounded-md !text-white'"
            >Abstract Screening</a
          >
          <% if AbstractScreeningService.as_user?(current_user) %>
          <a
            href="<%= project_fulltext_screenings_path(project) %>"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="fulltext_screening && 'bg-srdr-primary rounded-md !text-white'"
            >Full-Text Screening</a
          >
          <% end %>
        </div>
      </div>
    </div>
    <div
      class="relative my-1"
      x-data="{ extracting_menu: false }"
      @mouseover.away="extracting_menu = false"
    >
      <button
        @click="extracting_menu = !extracting_menu"
        @mouseover="extracting_menu = true"
        type="button"
        class="p-2 h-8 inline-flex items-center justify-between lg:justify-normal w-full lg:w-auto gap-x-1 text-sm font-light leading-6 text-white cursor-pointer"
        :class="(extractions || comparison_tool || sr_360) && 'bg-srdr-primary !text-white'"
        aria-expanded="false"
      >
        <span>Extracting</span>
        <svg
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <div
        class="absolute z-10 flex w-[calc(100vw-32px)] lg:w-auto"
        x-show="extracting_menu"
        x-transition:enter="transition ease-out duration-200"
        x-transition:enter-start="opacity-0 translate-y-1"
        x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="transition ease-in duration-150"
        x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 translate-y-1"
        x-cloak
        @click.outside="extracting_menu = false"
      >
        <div
          class="w-screen lg:w-auto shrink rounded-xl bg-white p-3 text-sm font-light leading-6 text-gray-900 shadow-lg ring-1 ring-gray-900/5"
        >
          <a
            href="<%= build_extraction_forms_project_path(project.extraction_forms_projects.first, 'panel-tab': project.extraction_forms_projects.first.default_section_id) %>"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="extractions_form_builder && 'bg-srdr-primary rounded-md !text-white'"
            >Extractions Form Builder</a
          >
          <a
            href="<%= project_extractions_path(project) %>"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="extractions && 'bg-srdr-primary rounded-md !text-white'"
            >Extractions</a
          >
          <a
            href="<%= comparison_tool_project_extractions_path(project) %>"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="comparison_tool && 'bg-srdr-primary rounded-md !text-white'"
            >Comparison Tool</a
          >
          <a
            href="<%= project_sd_meta_data_path(project) %>"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="sr_360 && 'bg-srdr-primary rounded-md !text-white'"
            >SR-360</a
          >
        </div>
      </div>
    </div>
    <div
      class="relative my-1"
      x-data="{ tools_menu: false }"
      @mouseover.away="tools_menu = false"
    >
      <button
        @click="tools_menu = !tools_menu"
        @mouseover="tools_menu = true"
        type="button"
        class="p-2 h-8 inline-flex items-center justify-between lg:justify-normal w-full lg:w-auto gap-x-1 text-sm font-light leading-6 text-white cursor-pointer"
        :class="(import_export || publication) && 'bg-srdr-primary !text-white'"
        aria-expanded="false"
      >
        <span>Tools</span>
        <svg
          class="h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <div
        class="absolute z-10 flex w-[calc(100vw-32px)] lg:w-auto"
        x-show="tools_menu"
        x-transition:enter="transition ease-out duration-200"
        x-transition:enter-start="opacity-0 translate-y-1"
        x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="transition ease-in duration-150"
        x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 translate-y-1"
        x-cloak
        @click.outside="tools_menu = false"
      >
        <div
          class="w-screen lg:w-auto shrink rounded-xl bg-white p-3 text-sm font-light leading-6 text-gray-900 shadow-lg ring-1 ring-gray-900/5"
        >
          <a
            href="<%= project_imports_path(project) %>"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="import_export && 'bg-srdr-primary rounded-md !text-white'"
            >Data Import & Export</a
          >
          <a
            href="<%= new_publishing_path(type: Project.to_s, id: project.id) %>"
            class="block p-2 mb-1 rounded-md hover:bg-srdr-primary hover:text-white hover:no-underline"
            :class="publication && 'bg-srdr-primary rounded-md !text-white'"
            >Publication</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
