<style>
  a:hover,
  a:focus {
    color: white;
    text-decoration: initial;
  }
</style>

<div
  class="z-10 !sticky top-0"
  x-data="{
  mobile: false,
  home: <%= @nav_buttons.include?('home') %>,
  blog: <%= @nav_buttons.include?('blog') %>,
  search: <%= @nav_buttons.include?('search') %>,
  help: <%= @nav_buttons.include?('help') %>,
  account: <%= @nav_buttons.include?('account') %>,
  published_projects: <%= @nav_buttons.include?('published_projects') %>,
  project_info: <%= @nav_buttons.include?('project_info') %>,
  key_questions: <%= @nav_buttons.include?('key_questions') %>,
  members_and_roles: <%= @nav_buttons.include?('members_and_roles') %>,
  extractions_form_builder: <%= @nav_buttons.include?('extractions_form_builder') %>,
  citation_pool: <%= @nav_buttons.include?('citation_pool') %>,
  tasks: <%= @nav_buttons.include?('tasks') %>,
  screen: <%= @nav_buttons.include?('screen') %>,
  extractions: <%= @nav_buttons.include?('extractions') %>,
  comparison_tool: <%= @nav_buttons.include?('comparison_tool') %>,
  request_publication: <%= @nav_buttons.include?('request_publication') %>,
}"
>
  <nav class="bg-srdr-primary">
    <div class="mx-auto px-4 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <!-- prettier-ignore -->
            <%= image_tag('brand.png', alt: 'srdrPLUS - Home', class: 'block h-8 w-auto lg:hidden') %>
            <%= image_tag('brand.png', alt: 'srdrPLUS - Home', class: 'hidden h-8 w-auto lg:block') %>
          </div>
          <div class="hidden lg:ml-6 lg:block">
            <div class="flex space-x-4">
              <!-- Current: "rounded-md bg-srdr-secondary px-3 py-2 text-sm font-medium text-white" -->
              <a
                href="<%= root_path(no_redirect: true) %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white"
                :class="home && 'bg-srdr-secondary !text-white'"
                >Home</a
              >
              <a
                href="<%= blog_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white"
                :class="blog && 'bg-srdr-secondary !text-white'"
                >Blog</a
              >
              <a
                href="<%= published_projects_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white"
                :class="published_projects && 'bg-srdr-secondary !text-white'"
                >Published Projects</a
              >
              <a
                href="<%= searches_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white"
                :class="search && 'bg-srdr-secondary !text-white'"
                >Search</a
              >
              <a
                href="<%= help_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white"
                :class="help && 'bg-srdr-secondary !text-white'"
                >Help</a
              >
            </div>
          </div>
        </div>
        <div class="hidden lg:ml-6 lg:block">
          <div class="flex items-center">
            <!-- Profile dropdown -->
            <div class="relative ml-3">
              <div>
                <a
                  href="<%= edit_user_registration_path %>"
                  class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white"
                  :class="account && 'bg-srdr-secondary !text-white'"
                  >Account</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="-mr-2 flex lg:hidden">
          <!-- Mobile menu button -->
          <button
            type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-srdr-secondary hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu"
            aria-expanded="false"
            @click="mobile = !mobile"
          >
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.

              Heroicon name: outline/bars-3

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg
              class="block h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
            <!--
              Icon when menu is open.

              Heroicon name: outline/x-mark

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg
              class="hidden h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <% if params[:controller] != 'static_pages' %>
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="lg:hidden" id="mobile-menu" x-show="mobile">
      <div class="space-y-1 px-2 pt-2 pb-3">
        <!-- Current: "block rounded-md bg-srdr-secondary px-3 py-2 text-base font-medium text-white" -->
        <a
          href="#"
          class="block rounded-md bg-srdr-secondary px-3 py-2 text-base font-medium text-white"
          >Dashboard</a
        >
        <a
          href="#"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white"
          >Team</a
        >
        <a
          href="#"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white"
          >Projects</a
        >
        <a
          href="#"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white"
          >Calendar</a
        >
        <a
          href="#"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white"
          >Account</a
        >
      </div>
    </div>

    <div
      class="bg-srdr-secondary mx-auto px-4 lg:px-8 text-white overflow-x-auto whitespace-nowrap"
    >
      <div class="flex h-8 items-center justify-between">
        <div class="absolute">
          Project ID#866: Non-Pharma Treatments for Pain in HIV Scoping Project
        </div>
      </div>
      <div class="flex h-12 items-center justify-between">
        <div class="flex items-center">
          <!-- Current: "rounded-md bg-srdr-secondary px-3 py-2 text-sm font-medium text-white" -->
          <a
            href="<%= edit_project_path(Project.first) %>?page=info"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white"
            :class="project_info && 'bg-srdr-primary !text-white'"
            >Project Info</a
          >
          <a
            href="<%= edit_project_path(Project.first) %>?page=key_questions"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white"
            :class="key_questions && 'bg-srdr-primary !text-white'"
            >Key Questions</a
          >
          <a
            href="<%= edit_project_path(Project.first) %>?page=members_and_roles"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white"
            :class="members_and_roles && 'bg-srdr-primary !text-white'"
            >Member(s) & Role(s)</a
          >
          <a
            href="<%= build_extraction_forms_project_path(Project.first.extraction_forms_projects.first, 'panel-tab': Project.first.extraction_forms_projects.first.default_section_id) %>"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white"
            :class="extractions_form_builder && 'bg-srdr-primary !text-white'"
            >Extractions Form Builder</a
          >
          <a
            href="<%= project_citations_path(Project.first) %>"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white"
            :class="citation_pool && 'bg-srdr-primary !text-white'"
            >Citation Pool</a
          >
          <a
            href="<%= project_tasks_path(Project.first) %>"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white"
            :class="tasks && 'bg-srdr-primary !text-white'"
            >Tasks</a
          >
          <a
            href="<%= next_assignment_project_path(Project.first) %>"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white"
            :class="screen && 'bg-srdr-primary !text-white'"
            >Screen</a
          >
          <a
            href="<%= project_extractions_path(Project.first) %>"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white"
            :class="extractions && 'bg-srdr-primary !text-white'"
            >Extractions</a
          >
          <a
            href="#"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white"
            >Export Data</a
          >
          <a
            href="#"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white"
            :class="comparison_tool && 'bg-srdr-primary !text-white'"
            >Comparison Tool</a
          >
          <a
            href="#"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white"
            :class="request_publication && 'bg-srdr-primary !text-white'"
            >Request Publication</a
          >
        </div>
      </div>
    </div>
    <% end %>
  </nav>
</div>
