<div
  class="z-10 !sticky top-0"
  x-data="{
  mobile: false,
  home: <%= @nav_buttons.include?('home') %>,
  my_projects: <%= @nav_buttons.include?('my_projects') %>,
  blog: <%= @nav_buttons.include?('blog') %>,
  contact: <%= @nav_buttons.include?('contact') %>,
  about: <%= @nav_buttons.include?('about') %>,
  search: <%= @nav_buttons.include?('search') %>,
  help: <%= @nav_buttons.include?('help') %>,
  account: <%= @nav_buttons.include?('account') %>,
  published_projects: <%= @nav_buttons.include?('published_projects') %>,
  project_info: <%= @nav_buttons.include?('project_info') %>,
  key_questions: <%= @nav_buttons.include?('key_questions') %>,
  members_and_roles: <%= @nav_buttons.include?('members_and_roles') %>,
  extractions_form_builder: <%= @nav_buttons.include?('extractions_form_builder') %>,
  citation_pool: <%= @nav_buttons.include?('citation_pool') %>,
  lifecycle_management: <%= @nav_buttons.include?('lifecycle_management') %>,
  abstract_screening: <%= @nav_buttons.include?('abstract_screening') %>,
  fulltext_screening: <%= @nav_buttons.include?('fulltext_screening') %>,
  abstract_form: <%= @nav_buttons.include?('abstract_form') %>,
  fulltext_form: <%= @nav_buttons.include?('fulltext_form') %>,
  tasks: <%= @nav_buttons.include?('tasks') %>,
  screen: <%= @nav_buttons.include?('screen') %>,
  extractions: <%= @nav_buttons.include?('extractions') %>,
  comparison_tool: <%= @nav_buttons.include?('comparison_tool') %>,
  export_data: <%= @nav_buttons.include?('export_data') %>,
  import_tools: <%= @nav_buttons.include?('import_tools') %>,
  publication: <%= @nav_buttons.include?('publication') %>,
  signin: <%= @nav_buttons.include?('signin') %>,
  signup: <%= @nav_buttons.include?('signup') %>,
}"
>
  <nav class="bg-srdr-primary">
    <div class="mx-auto px-4 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <a href="/?no_redirect=true">
              <!-- prettier-ignore -->
              <%= image_tag('brand.png', alt: 'srdrPLUS - Home', class: 'block h-8 w-auto lg:hidden') %></a
            >
            <a href="/?no_redirect=true">
              <%= image_tag('brand.png', alt: 'srdrPLUS - Home', class: 'hidden
              h-8 w-auto lg:block') %>
            </a>
          </div>
          <div class="hidden lg:ml-6 lg:block">
            <div class="flex space-x-4">
              <!-- Current: "rounded-md bg-srdr-secondary px-3 py-2 text-sm font-medium text-white" -->
              <a
                href="<%= root_path(no_redirect: true) %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="home && 'bg-srdr-secondary !text-white underline'"
                >Home</a
              >
              <% if current_user %>
              <a
                href="<%= projects_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="my_projects && 'bg-srdr-secondary !text-white underline'"
                >My Projects</a
              >
              <% end %>
              <a
                href="<%= blog_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="blog && 'bg-srdr-secondary !text-white underline'"
                >Blog</a
              >
              <a
                href="<%= published_projects_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="published_projects && 'bg-srdr-secondary !text-white underline'"
                >Published Projects</a
              >
              <a
                href="<%= searches_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="search && 'bg-srdr-secondary !text-white underline'"
                >Search</a
              >
              <a
                href="/contact"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="contact && 'bg-srdr-secondary !text-white underline'"
                >Contact</a
              >
              <a
                href="/about"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="about && 'bg-srdr-secondary !text-white underline'"
                >About</a
              >
              <a
                href="<%= help_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="help && 'bg-srdr-secondary !text-white underline'"
                >Help</a
              >
            </div>
          </div>
        </div>
        <div class="hidden lg:ml-6 lg:block">
          <div class="flex items-center space-x-4">
            <% if current_user %>
            <div>
              <a
                href="<%= edit_user_registration_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="account && 'bg-srdr-secondary !text-white underline'"
                >Account</a
              >
            </div>
            <% else %>
            <div>
              <a
                href="<%= new_user_session_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="signin && 'bg-srdr-secondary !text-white underline'"
                >Login</a
              >
            </div>
            <div>
              <a
                href="<%= new_user_registration_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="signup && 'bg-srdr-secondary !text-white underline'"
                >Register</a
              >
            </div>
            <% end %>
          </div>
        </div>
        <div class="-mr-2 flex lg:hidden">
          <!-- Mobile menu button -->
          <button
            type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-srdr-secondary hover:text-white focus:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white cursor-pointer"
            aria-controls="mobile-menu"
            :aria-expanded="mobile"
            @click="mobile = !mobile"
          >
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.

              Heroicon name: outline/bars-3

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg
              class="block h-6 w-6"
              :class="mobile ? 'hidden' : 'block'"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
            <!--
              Icon when menu is open.

              Heroicon name: outline/x-mark

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg
              class="h-6 w-6"
              :class="mobile ? 'block' : 'hidden'"
              x-cloak
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="lg:hidden" id="mobile-menu" x-show="mobile" x-cloak>
      <div class="space-y-1 px-2 pt-2 pb-3">
        <!-- Current: "block rounded-md bg-srdr-secondary px-3 py-2 text-base font-medium text-white" -->
        <a
          href="<%= root_path(no_redirect: true) %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="home && 'bg-srdr-secondary text-white'"
          >Home</a
        >
        <% if current_user %>
        <a
          href="<%= projects_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="my_projects && 'bg-srdr-secondary text-white'"
          >My Projects</a
        >
        <% end %>
        <a
          href="<%= blog_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="blog && 'bg-srdr-secondary text-white'"
          >Blog</a
        >
        <a
          href="<%= published_projects_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="published_projects && 'bg-srdr-secondary text-white'"
          >Published Projects</a
        >
        <a
          href="/contact"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="search && 'bg-srdr-secondary text-white'"
          >Search</a
        >
        <a
          href="<%= searches_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="contact && 'bg-srdr-secondary text-white'"
          >Contact</a
        >
        <a
          href="/about"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="about && 'bg-srdr-secondary text-white'"
          >About</a
        >
        <a
          href="<%= help_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="help && 'bg-srdr-secondary text-white'"
          >Help</a
        >
      </div>
    </div>

    <!-- prettier-ignore -->
    <% if add_submenu?(controller_name, action_name, controller, @publishable_record) %>
    <% project = find_project(@project, @extraction, @extraction_forms_project, @question, @extraction_forms_projects_section, @publishable_record) %>
    <div
      class="bg-srdr-secondary mx-auto px-4 lg:px-8 text-white overflow-x-auto whitespace-nowrap"
    >
      <div class="flex h-8 items-center">
        <div class="absolute">
          <!-- prettier-ignore -->
          <%= "Project ID##{project.id}: #{project.name}" %>
          <% if project.publishing.present? && project.publishing.approval.present? %>
          <span
            class="ml-4 inline-flex items-center rounded bg-green-100 px-2 py-0.5 text-xs font-bold text-green-800"
            >Published</span
          >
          <% elsif project.publishing.present? %>
          <span
            class="ml-4 inline-flex items-center rounded bg-yellow-700 px-2 py-0.5 text-xs font-bold text-white"
            >Publication Requested</span
          >
          <% else %>
          <span
            class="ml-4 inline-flex items-center rounded bg-gray-100 px-2 py-0.5 text-xs font-bold text-gray-800"
            >Unpublished</span
          >
          <% end %>
        </div>
      </div>
      <div class="flex h-8 items-center justify-between">
        <div class="flex items-center">
          <!-- Current: "rounded-md bg-srdr-secondary px-3 py-2 text-sm font-medium text-white" -->
          <a
            href="<%= edit_project_path(project) %>?page=info"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="project_info && 'bg-srdr-primary !text-white'"
            >Project Info</a
          >
          <a
            href="<%= edit_project_path(project) %>?page=key_questions"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="key_questions && 'bg-srdr-primary !text-white'"
            >Key Questions</a
          >
          <a
            href="<%= edit_project_path(project) %>?page=members_and_roles"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="members_and_roles && 'bg-srdr-primary !text-white'"
            >Member(s) & Role(s)</a
          >
          <a
            href="<%= build_extraction_forms_project_path(project.extraction_forms_projects.first, 'panel-tab': project.extraction_forms_projects.first.default_section_id) %>"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="extractions_form_builder && 'bg-srdr-primary !text-white'"
            >Extractions Form Builder</a
          >
          <a
            href="<%= project_citations_path(project) %>"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="citation_pool && 'bg-srdr-primary !text-white'"
            >Citation Pool</a
          >
          <a
            href="<%= project_citation_lifecycle_management_path(project) %>"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="lifecycle_management && 'bg-srdr-primary !text-white'"
            >Citation Phase Management</a
          >
          <a
            href="<%= project_abstract_screenings_path(project) %>"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="abstract_screening && 'bg-srdr-primary !text-white'"
            >Abstract Screening</a
          >
          <a
            href="<%= project_fulltext_screenings_path(project) %>"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="fulltext_screening && 'bg-srdr-primary !text-white'"
            >Full-Text Screening</a
          >
          <a
            href="<%= project_screening_forms_path(project, form_type: 'abstract') %>"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="abstract_form && 'bg-srdr-primary !text-white'"
            >Abstract Screening Form Builder</a
          >
          <a
            href="<%= project_screening_forms_path(project, form_type: 'fulltext') %>"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="fulltext_form && 'bg-srdr-primary !text-white'"
            >Full-Text Screening Form Builder</a
          >
          <a
            href="<%= project_extractions_path(project) %>"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="extractions && 'bg-srdr-primary !text-white'"
            >Extractions</a
          >
          <a
            href="<%= export_data_project_path(project) %>"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="export_data && 'bg-srdr-primary !text-white'"
            >Export Data</a
          >
          <a
            href="<%= comparison_tool_project_extractions_path(project) %>"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="comparison_tool && 'bg-srdr-primary !text-white'"
            >Comparison Tool</a
          >
          <a
            href="<%= project_imports_path(project) %>"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="import_tools && 'bg-srdr-primary !text-white'"
            >Import Tools</a
          >
          <a
            href="<%= new_publishing_path(type: Project.to_s, id: project.id) %>"
            class="rounded-md px-2 py-1 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white"
            :class="publication && 'bg-srdr-primary !text-white'"
            >Publication</a
          >
        </div>
      </div>
    </div>
    <% end %>
  </nav>
</div>
