<div
  class="z-10 !sticky top-0"
  x-data="{
    mobile: false,
    home: <%= @nav_buttons.include?('home') %>,
    my_projects: <%= @nav_buttons.include?('my_projects') %>,
    blog: <%= @nav_buttons.include?('blog') %>,
    published_projects: <%= @nav_buttons.include?('published_projects') %>,
    search: <%= @nav_buttons.include?('search') %>,
    contact: <%= @nav_buttons.include?('contact') %>,
    about: <%= @nav_buttons.include?('about') %>,
    help: <%= @nav_buttons.include?('help') %>,
    account: <%= @nav_buttons.include?('account') %>,
    project_info_dropdown: <%= @nav_buttons.include?('project_info_dropdown') %>,
    form_builder_dropdown: <%= @nav_buttons.include?('form_builder_dropdown') %>,
    screening_dropdown: <%= @nav_buttons.include?('screening_dropdown') %>,
    extractions_dropdown: <%= @nav_buttons.include?('extractions_dropdown') %>,
    export_import_dropdown: <%= @nav_buttons.include?('export_import_dropdown') %>,
    publication_dropdown: <%= @nav_buttons.include?('publication_dropdown') %>,
    lifecycle_management: <%= @nav_buttons.include?('lifecycle_management') %>,
    project_info: <%= @nav_buttons.include?('project_info') %>,
    key_questions: <%= @nav_buttons.include?('key_questions') %>,
    members_and_roles: <%= @nav_buttons.include?('members_and_roles') %>,
    citation_pool: <%= @nav_buttons.include?('citation_pool') %>,
    screening_form_builder: <%= @nav_buttons.include?('screening_form_builder') %>,
    extraction_form_builder: <%= @nav_buttons.include?('extraction_form_builder') %>,
    abstract_screening: <%= @nav_buttons.include?('abstract_screening') %>,
    fulltext_screening: <%= @nav_buttons.include?('fulltext_screening') %>,
    extractions: <%= @nav_buttons.include?('extractions') %>,
    comparison_tool: <%= @nav_buttons.include?('comparison_tool') %>,
    export_import: <%= @nav_buttons.include?('export_import') %>,
    publication: <%= @nav_buttons.include?('publication') %>,
    sr360: <%= @nav_buttons.include?('sr360') %>,
    signin: <%= @nav_buttons.include?('signin') %>,
    signup: <%= @nav_buttons.include?('signup') %>,
    chats: <%= @nav_buttons.include?('chats') %>,
  }"
>
  <nav class="bg-srdr-primary">
    <div class="mx-auto px-4 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <a href="/?no_redirect=true">
              <!-- prettier-ignore -->
              <%= image_tag('VADRR Top.png', alt: 'VADRR - Home', class: 'block h-16 lg:hidden') %>
            </a>
            <a href="/?no_redirect=true">
              <%= image_tag('VADRR Top.png', alt: 'VADRR - Home', class: 'hidden h-32 w-auto mt-2 lg:block', style: "margin-left: -45px;") %>
            </a>
          </div>
          <div class="hidden lg:ml-6 lg:block">
            <div class="flex space-x-4">
              <!-- Current: "rounded-md bg-srdr-secondary px-3 py-2 text-sm font-medium text-white" -->
              <a
                href="<%= root_path(no_redirect: true) %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="home && 'bg-srdr-secondary !text-white underline'"
                >Home</a
              >
              <% if current_user %>
              <a
                href="<%= projects_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="my_projects && 'bg-srdr-secondary !text-white underline'"
                >My Projects</a
              >
              <% end %>
              <a
                href="<%= blog_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="blog && 'bg-srdr-secondary !text-white underline'"
                >Blog</a
              >
              <a
                href="<%= published_projects_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="published_projects && 'bg-srdr-secondary !text-white underline'"
                >Published Projects</a
              >
              <a
                href="<%= searches_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="search && 'bg-srdr-secondary !text-white underline'"
                >Search</a
              >
              <a
                href="/contact"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="contact && 'bg-srdr-secondary !text-white underline'"
                >Contact</a
              >
              <a
                href="/about"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="about && 'bg-srdr-secondary !text-white underline'"
                >About</a
              >
              <a
                href="<%= help_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="help && 'bg-srdr-secondary !text-white underline'"
                >Help</a
              >
            </div>
          </div>
        </div>
        <div class="hidden lg:ml-6 lg:block">
          <div class="flex items-center space-x-4">
            <% if current_user %>
            <div>
              <a
                href="/chats"
                class="rounded-md px-3 py-2 hover:bg-srdr-secondary hover:text-white focus:text-white block"
                :class="chats && 'bg-srdr-secondary !text-white underline'"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                  />
                </svg>
              </a>
            </div>
            <div>
              <a
                href="<%= edit_user_registration_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="account && 'bg-srdr-secondary !text-white underline'"
                ><%= current_user.handle %></a
              >
            </div>
            <% else %>
            <div>
              <a
                href="<%= new_user_session_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="signin && 'bg-srdr-secondary !text-white underline'"
                >Login</a
              >
            </div>
            <div>
              <a
                href="<%= new_user_registration_path %>"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
                :class="signup && 'bg-srdr-secondary !text-white underline'"
                >Register</a
              >
            </div>
            <% end %>
          </div>
        </div>
        <div class="-mr-2 flex lg:hidden">
          <!-- Mobile menu button -->
          <button
            type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-srdr-secondary hover:text-white focus:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white cursor-pointer"
            aria-controls="mobile-menu"
            :aria-expanded="mobile"
            @click="mobile = !mobile"
          >
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.

              Heroicon name: outline/bars-3

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg
              class="block h-6 w-6"
              :class="mobile ? 'hidden' : 'block'"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
            <!--
              Icon when menu is open.

              Heroicon name: outline/x-mark

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg
              class="h-6 w-6"
              :class="mobile ? 'block' : 'hidden'"
              x-cloak
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="lg:hidden" id="mobile-menu" x-show="mobile" x-cloak>
      <div class="space-y-1 px-2 pt-2 pb-3">
        <!-- Current: "block rounded-md bg-srdr-secondary px-3 py-2 text-base font-medium text-white" -->
        <a
          href="<%= root_path(no_redirect: true) %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="home && 'bg-srdr-secondary text-white'"
          >Home</a
        >
        <% if current_user %>
        <a
          href="<%= projects_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="my_projects && 'bg-srdr-secondary text-white'"
          >My Projects</a
        >
        <% end %>
        <a
          href="<%= blog_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="blog && 'bg-srdr-secondary text-white'"
          >Blog</a
        >
        <a
          href="<%= published_projects_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="published_projects && 'bg-srdr-secondary text-white'"
          >Published Projects</a
        >
        <a
          href="/contact"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="search && 'bg-srdr-secondary text-white'"
          >Search</a
        >
        <a
          href="<%= searches_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="contact && 'bg-srdr-secondary text-white'"
          >Contact</a
        >
        <a
          href="/about"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="about && 'bg-srdr-secondary text-white'"
          >About</a
        >
        <a
          href="<%= help_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="help && 'bg-srdr-secondary text-white'"
          >Help</a
        >
        <% if current_user %>
        <a
          href="<%= edit_user_registration_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="account && 'bg-srdr-secondary text-white'"
          >Account</a
        >
        <% else %>
        <a
          href="<%= new_user_session_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="signin && 'bg-srdr-secondary text-white'"
          >Login</a
        >
        <a
          href="<%= new_user_registration_path %>"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-srdr-secondary hover:text-white focus:text-white"
          :class="signup && 'bg-srdr-secondary text-white'"
          >Register</a
        >
        <% end %>
      </div>
    </div>

    <!-- prettier-ignore -->
    <% if add_submenu?(controller_name, action_name, controller, @publishable_record) %>
      <% project = find_project(@project, @extraction, @extraction_forms_project, @question, @extraction_forms_projects_section, @publishable_record) %>
    <div class="h-28 bg-srdr-secondary px-4 lg:px-8 text-white">
      <div class="flex h-12 items-center justify-between pt-4">
        <div class="mb-4 mt-4">
          <!-- prettier-ignore -->
          <%= link_to "Project ID##{project.id}: #{project.name}",
                        project_citation_lifecycle_management_path(project),
                        class: "rounded-md text-xl font-medium text-gray-300 hover:text-white focus:text-white" %>
            <% if project.publishing.present? && project.publishing.approval.present? %>
          <span
            class="ml-4 inline-flex items-center rounded bg-green-100 px-2 py-0.5 text-xs font-bold text-green-800"
            >Published</span
          >
          <% elsif project.publishing.present? %>
          <span
            class="ml-4 inline-flex items-center rounded bg-yellow-700 px-2 py-0.5 text-xs font-bold text-white"
            >Publication Requested</span
          >
          <% else %>
          <span
            class="ml-4 inline-flex items-center rounded bg-gray-100 px-2 py-0.5 text-xs font-bold text-gray-800"
            >Unpublished</span
          >
          <% end %>
        </div>
        <div class="ml-4" x-show="!extractions" x-cloak>
          <a
            href="<%= project_extractions_path(project) %>"
            class="rounded-md px-2 py-1 text-xs font-medium bg-green-700 !text-white border-[0.5px] border-white"
            >Go to Extractions
          </a>
        </div>
      </div>
      <div class="flex h-8 items-center justify-between pt-4 bg-srdr-secondary">
        <%= render "projects/index/project_list_item_dropdown_links", project:
        project, index: 0, usage: 'project-navigation' %>
      </div>
    </div>
    <% end %>
  </nav>
</div>
