<div class="p-4 lg:p-8">
  <div class="export-type-selection">
    <p>Export Extraction Data in XLSX format.</p>
    <input
      class="export-type-radio"
      id="xlsx-legacy-radio-<%= @project.id.to_s %>"
      name="export-type-<%= @project.id.to_s %>"
      type="hidden"
      value="<%= export_project_path(@project, export_type_name: '.xlsx legacy') %>"
    />
    <!-- prettier-ignore -->
    <%= link_to "Export Extraction Data",
          export_project_path(@project, export_type_name: '.xlsx legacy'),
          method: :post,
          class: "button start-export-button" %>

    <hr />

    <p>Export Screening Labels in XLSX format:</p>
    <!-- prettier-ignore -->
    <%= link_to "Export Screening Data",
          "#{project_export_screening_data_path(@project)}",
          method: :post,
          class: 'button start-citation-labels-export-button' %>
  </div>
</div>
