<div class="p-4 lg:p-8">
  <h1 class="text-lg font-bold">Export Data</h1>
  <div class="export-type-selection">
    <p class="text-base font-thin">
      Legacy format: A hybrid between long and wide format. Follows the
      traditional SRDR export structure.
    </p>
    <br />

    <input
      checked=""
      class="export-type-radio"
      id="xlsx-legacy-radio-<%= @project.id.to_s %>"
      name="export-type-<%= @project.id.to_s %>"
      type="radio"
      value="<%= export_project_path(@project, export_type_name: '.xlsx legacy') %>"
    />
    <label for="xlsx-legacy-radio-<%= @project.id.to_s %>">
      Microsoft Excel - legacy format (.xlsx)
    </label>
    <!-- prettier-ignore -->
    <%= link_to "Export Extraction Data", export_project_path(@project, export_type_name: '.xlsx legacy'), method: :post, class: "button expanded start-export-button" %>

    <br />
    <hr />
    <p>Export Project Screening Labels:</p>
    <!-- prettier-ignore -->
    <%= link_to "Export Screening Data in XLSX",
          "#{project_export_screening_data_path(@project)}.xlsx",
          method: :post,
          class: 'button expanded start-citation-labels-export-button' %>
  </div>
</div>
