<% total = @previews.sum { |preview| preview[:count] } %>
<div class="p-4 lg:p-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-bold">PREVIEW: Import Citations</h1>
      <p class="mt-2 text-sm text-gray-700">
        Please review the first (up to) 3 citations of each file that you
        uploaded. We've found a total of <%= total %> citations. Please click on
        '<b>Start Import</b>' to confirm.
      </p>
    </div>
    <% if total <= 100_000 %>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <!-- prettier-ignore -->
      <%= link_to('Start Import', "/imports/#{@import.id}/start", method: :post,
      class: "inline-flex items-center justify-center rounded-md border
      border-transparent bg-srdrpurple px-4 py-2 text-sm font-medium text-white
      shadow-sm hover:bg-srdrpurple-light focus:outline-none focus:ring-2
      focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto hover:no-underline
      hover:text-white") %>
      <%= link_to('Cancel', "/projects/#{@project.id}/citations",
      class: "inline-flex items-center justify-center rounded-md border
      border-transparent bg-red-800 px-4 py-2 text-sm font-medium text-white
      shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2
      focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto hover:no-underline
      hover:text-white") %>
    </div>
    <% end %>
  </div>
  <div>
    <!-- prettier-ignore -->
    <% if @previews.sum { |preview| preview[:count] } <= 100_000 %>
    <% @previews.each_with_index do |preview, index| %>
    <h2 class="text-base font-bold"><%= "Preview of File: #{index + 1}" %></h2>
    <table>
      <thead>
        <tr>
          <th class="text-left">Title</th>
          <th class="text-left">Authors</th>
          <th class="text-left">Source</th>
          <th class="text-left">Publication Year</th>
          <th class="text-left">Refman</th>
          <th class="text-left">PMID</th>
          <th class="text-left">Abstract</th>
        </tr>
      </thead>
      <tbody>
        <!-- prettier-ignore -->
        <% preview[:citations].each do |citation| %>
        <tr>
          <td><%= citation['name'] %></td>
          <td><%= citation['authors'] %></td>
          <td><%= citation['source']&.values&.join(', ') %></td>
          <td><%= citation['publication_date'] %></td>
          <td><%= citation['refman'] %></td>
          <td><%= citation['pmid'] %></td>
          <td><%= citation['abstract'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %> <% else %>
    <h1 class="text-xl">
      I'm sorry but the number of citations (<%= total %>) exceeds the maximum
      of 100,000. Please contact us if you'd like to continue this import.
    </h1>
    <% end %>
  </div>
</div>
