<div id="panel-4" class="tabs-panel is-active">
  <fieldset>
    <legend>PICODTS</legend>
    <div data-row-span="1">
      <div data-field-span="1">
        <label>PICODTS</label>
        <% if @sd_meta_datum.sd_picods.empty? %>
          <div>-----</div>
        <% else %>
          <% @sd_meta_datum.sd_picods.each do |sd_picod| %>
            <div class="sd-show-inner">
              <!--
              <div>
                <label>Type(s)</label>
                <div><%= sd_picod.sd_picods_types.present? ? sd_picod.sd_picods_types.map(&:name).join(", ") : '-----' %></div>
              </div>
              <div>
                <label>Name</label>
                <div><%= sd_picod.name.present? ? sd_picod.name : '-----' %></div>
              </div>
              -->
              <div data-row-span="1">
                <div data-field-span="1">
                  <label>Key Question(s)</label>
                  <% if !sd_picod.sd_key_questions.present? %>
                    <div>-----</div>
                  <% else %>
                    <ul>
                      <% sd_picod.sd_key_questions.each do |skq| %>
                        <li style="font-size: 12px;"><%= skq.key_question.name.present? ? skq.key_question.name : '-----' %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
              <div data-row-span="1">
                <div data-field-span="1">
                  <label>Level of Data Analysis</label>
                  <% if !sd_picod.data_analysis_level.present? %>
                    <div>-----</div>
                  <% else %>
                    <div><%= sd_picod.data_analysis_level.name %></div>
                  <% end %>
                </div>
              </div>
              <div data-row-span="1">
                <div data-field-span="1">
                  <label>Population (P)</label>
                  <div><%= sd_picod.population.present? ? simple_format(sd_picod.population) : '-----' %></div>
                </div>
              </div>
              <div data-row-span="1">
                <div data-field-span="1">
                  <label>Interventions (I)</label>
                  <div><%= sd_picod.interventions.present? ? simple_format(sd_picod.interventions) : '-----' %></div>
                </div>
              </div>
              <div data-row-span="1">
                <div data-field-span="1">
                  <label>Comparators (C)</label>
                  <div><%= sd_picod.comparators.present? ? simple_format(sd_picod.comparators) : '-----' %></div>
                </div>
              </div>
              <div data-row-span="1">
                <div data-field-span="1">
                  <label>Outcomes (O)</label>
                  <div><%= sd_picod.outcomes.present? ? simple_format(sd_picod.outcomes) : '-----' %></div>
                </div>
              </div>
              <div data-row-span="1">
                <div data-field-span="1">
                  <label>Study Designs (D)</label>
                  <div><%= sd_picod.study_designs.present? ? simple_format(sd_picod.study_designs) : '-----' %></div>
                </div>
              </div>
              <div data-row-span="1">
                <div data-field-span="1">
                  <label>Timing (T)</label>
                  <div><%= sd_picod.timing.present? ? simple_format(sd_picod.timing) : '-----' %></div>
                </div>
              </div>
              <div data-row-span="1">
                <div data-field-span="1">
                  <label>Settings (S)</label>
                  <div><%= sd_picod.settings.present? ? simple_format(sd_picod.settings) : '-----' %></div>
                </div>
              </div>
              <div data-row-span="1">
                <div data-field-span="1">
                  <label>Other Elements</label>
                  <div><%= sd_picod.other_elements.present? ? simple_format(sd_picod.other_elements) : '-----' %></div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </fieldset>
</div>
