<!-- Link to Project Info -->
<div class="py-2 relative inline-block text-left">
  <% if project.leaders.include?(current_user) %>
    <!-- prettier-ignore -->
    <%= link_to 'Project Info',
                edit_project_path(project, page: 'info'),
                title: 'Edit Project Information',
                class: "#{ usage.eql?('project-navigation') ? 'rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white hover:underline' : '' }",
                'x-bind:class': "{ 'bg-srdr-primary': project_info, '!text-white': project_info }" %>
  <% else %>
    <div class="<%= usage.eql?('project-navigation') ? 'text-white' : '' %>" style="opacity: 0.3; cursor: not-allowed">Project Info</div>
  <% end %>
</div>

<!-- Link to Key Questions -->
<div class="py-2 relative inline-block text-left" >
  <!-- prettier-ignore -->
  <% kqp_count = @projects_key_questions_project_counts.present? ? @projects_key_questions_project_counts[project.id] : project.key_questions.where.not(id: nil).size %>
  <% kqp_title = "Key Questions (#{kqp_count || 0})" %>
  <%= link_to kqp_title,
              edit_project_path(project, page: 'key_questions'),
              title: t('.key_questions'),
              class: "#{ usage.eql?('project-navigation') ? 'rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white hover:underline' : '' }",
              'x-bind:class': "{ 'bg-srdr-primary': key_questions, '!text-white': key_questions }" %>
</div>

<!-- Link to Members & Roles -->
<div class="py-2 relative inline-block text-left" >
  <!-- prettier-ignore -->
  <% pu_count = @projects_projects_user_counts.present? ? @projects_projects_user_counts[project.id] : project.members.size %>
  <% pu_title = "Members (#{pu_count || 0}) & Roles" %>
  <%= link_to pu_title,
              edit_project_path(project, page: 'members_and_roles'),
              title: t('.members_and_roles'),
              class: "#{ usage.eql?('project-navigation') ? 'rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white hover:underline' : '' }",
              'x-bind:class': "{ 'bg-srdr-primary': members_and_roles, '!text-white': members_and_roles }" %>
</div>

<!-- Link to Citations -->
<div class="py-2 relative inline-block text-left" >
  <!-- prettier-ignore -->
  <% cp_count = @projects_citations_project_counts.present? ? @projects_citations_project_counts[project.id] : project.citations.where.not(id: nil).size %>
  <% cp_title = "Citations (#{cp_count || 0})" %>
  <%= link_to cp_title,
              project_citations_path(project),
              title: t('manage_citations'),
              class: "#{ usage.eql?('project-navigation') ? 'rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-srdr-primary hover:text-white focus:text-white hover:underline' : '' }",
              'x-bind:class': "{ 'bg-srdr-primary': citation_pool, '!text-white': citation_pool }" %>
</div>
