<div class="column row table-scroll">
  <table>
    <thead>
      <tr>
        <th></th>
        <% @arms.each do |arm| %>
          <th>
            <span class="has-tip tip-right" data-tooltip aria-haspopup="true" data-options="show_on:small" title="Description: <%= arm.type1.description %>"><%= arm.type1.short_name_and_description %></span>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if @result_statistic_section.timepoints.empty? %>
        <tr>
          <td colspan="100%" style="padding: 20px; text-align: center; background-color: #fff3cd; color: #856404;">
            <strong>Warning: No timepoints defined for this population</strong>
            <br>
            Please add at least one timepoint to this population in the outcome section before entering data.
          </td>
        </tr>
      <% else %>
        <% @result_statistic_section.timepoints.each do |tp| %>
        <tr>
          <td><%= tp.timepoint_name.name %><%= tp.timepoint_name.unit.present? ? " (#{tp.timepoint_name.unit})" : '' %></td>
          <% @arms.each do |a| %>
            <td>
              <% @result_statistic_section.result_statistic_sections_measures.each do |rssm| %>
                <%# Create record form for rssm. (timepoint x arm x rssm) %>
                <% record = TpsArmsRssm.find_record(timepoint=tp, extractions_extraction_forms_projects_sections_type1=a, result_statistic_sections_measure=rssm) %>
                <%= simple_form_for(record, remote: true, html: { data: { 'abide': '', 'live-validate': true } }) do |f| %>
                  <%= f.error_notification %>
                  <%= f.input :name, label: rssm.measure.name, required: false, class: 'form-control', wrapper_html: { style: 'padding-bottom: 0;' }, input_html: { style: 'margin-bottom: 0;' } %>
                  <div id="record-id-<%= record.id.to_s %>" class="record-info" style="opacity: 0;">Saved!</div>
                  <%# .form-actions %>
                  <%#= f.button :submit, 'Save' %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <% end %>
      <tr>
        <td>
          <%= simple_form_for @result_statistic_section do |f| %>
            <%= f.association :measures, as: :check_boxes %>
            <%= f.submit %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Back', work_extraction_path(@result_statistic_section.extraction, params: { eefpst1_id: @result_statistic_section.population.extractions_extraction_forms_projects_sections_type1_id }, 'panel-tab': @result_statistic_section.eefps_result.id) %>
</div>
